{% assets "threejs_libs" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<div class="row-fluid worbench-top-buttons">

    <button class="btn btn-info span2" id="save_scene"
            data-bind="" onclick="BEEwb.main.saveScene();">
        <i class="icon-save" ></i>
        {{ _('Save Scene') }}
    </button>

    <button class="btn span2" id="download_scene"
            data-bind="" onclick="BEEwb.main.downloadScene();">
        <i class="icon-download" ></i>
        {{ _('Download') }}
    </button>
    <span class="span6"></span>
    <button class="btn btn-primary span2" id="print_scene" onclick="BEEwb.main.startPrint();"
            data-bind="enable: loginState.isUser() && !connection.isConnecting()">
        <i class="icon-print" ></i>
        {{ _('Start Print...') }}
    </button>
</div>

<div id="stl_container" ></div>

<script>

    BEEwb.main.init();
    //BEEwb.main.render();
    //BEEwb.main.animate();

</script>
