@font-face {
    font-family: din-light;
    src: url('../font/DINL____.ttf');
}
@font-face {
    font-family: din-black;
    src: url('../font/DIN Black.ttf');
    font-weight: bold;
}
body {
    font-family: din-light, sans-serif !important;
}
p {
    color: #999688 !important;
}
strong {
    font-family: din-black, sans-serif !important;
}
table {
    color: #2d2d2d;
}
/*-------------------------------------------------------*/
/*-------------------- BEEsoft NEW UI -------------------*/

/*-------------------- ALERTS ---------------------*/
.bee-alert{
    color: #ea6c54;
    font: 200 12px "din-light", sans-serif;
    display: inline-block;
    line-height: 15px;
}
.bee-alert.success{
    color: #518359;
    font: 200 16px "din-light", sans-serif;
}
.alert.alter-warning{
    background-color: #ea6c54 !important;
}
.alert {
    border-radius: 0px;
}
.alert p {
    color: #fff !important;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"]{
    margin-top: -10px;
}

.btn-block +.btn-block {
    margin-top: 0 !important;
}
.octoprint-container{
    margin-top: 0 !important;
}

.main-container .nav-tabs, .main-container .tab-content{
    border: none !important;
}
.main-container .tab-content{
    padding: 0 !important;
}
#stl_container canvas{
    height: calc(100vh - 76px) !important;
    width: calc(100vw - 285px) !important;
}

#tab-container{
    width: calc(100% - 285px) !important;;
}
/*-------------------- NAVBAR -----------------------*/

.btn.btn-navbar{
    background: #ffcc00 !important;
}
.navbar .btn-navbar .icon-bar{
    background-color: #000000;
    box-shadow: none !important;
}

.dropdown-menu>li>a{
    background: #000;
    color: #fff;
}
.navbar .nav>li>.dropdown-menu:after{
    border-bottom: 6px solid #000;
}

.nav-collapse ul.nav{             /* Dropdown mobile */
    background: #000 !important;
    z-index: 10 !important;
}
.nav-collapse ul.nav > li > a{
    padding: 24px 30px !important;
    color: #fff !important;
}
.nav-collapse ul.nav > li > a:hover{
    background: #3f3c35 !important;
}

#printer-name-label {
    color: #807B71 !important;
}

.axis-input-box {
    text-align:right;
}

.brand-label-fix {
    font-size: x-large;
    margin-right: -10px;
}

#temperature-graph {
    background-position: 50% 30% !important;
}

.lockedOperation a {
    pointer-events: none;
    color: white !important;
}

.active.lockedOperation a {
    pointer-events: none;
    color: black !important;
}

.operationsList li a {
    font-size: larger !important;
}

.workbench-top-buttons {
    margin-bottom: 5px;
}
.workbench-alert {
    padding: 4px 35px 4px 14px;
}
.printer-status {
    font-size: large;
    text-transform: uppercase;
}
.text-black {
    color: black;
}
.btn-delete {
    color: #cd0200 !important;
}
.display-block {
    display: block;
}

.nav i{
    padding-right: 10px;
}

.navbar-inner{
    height: 70px;
    border: none;
    box-shadow: none !important;
    background: #ffcc00 !important;
    padding: 0;
}
.navbar-inner .container{
    width: 100% !important;
}
.navbar-inner a {
    padding: 23px !important;
}
.navbar-inner ul.nav.pull-right a{
    text-shadow: none !important;
    font: 200 18px "din-light", sans-serif;
    text-transform: uppercase;
    border-left: 1px solid #e2ac25;
}

.btn.btn-navbar{
    margin: 0 !important;
    border-left: 1px solid #e2ac24 !important;
    height: 24px !important;
    padding: 29px 23px 17px !important;
}
.btn.btn-navbar.collapsed{
    background: #ffcc00 !important;
}
.btn.btn-navbar:hover{
    box-shadow: none !important;
}

.navbar-inner .brand{
    margin-left: 0;
}
.dropdown-menu{
    border-radius: 0;
}
.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right{ padding:0; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .multi-level .dropdown-submenu:hover>a, .multi-level .dropdown-submenu:focus>a{
    color: #000;
    font-weight: 400;
    background: #ffcc00;
}
.dropdown-menu>li>a{
    color: #fff;
}
.navbar .nav>li>.dropdown-menu:after{
    border-bottom: 6px solid #000;
}

.nav-collapse ul.nav{             /*------------------- Dropdown mobile */
    background: #ffcc00 !important;
    z-index: 10 !important;
}
.nav-collapse ul.nav > li > a{
    padding: 24px 30px !important;
    color: #000 !important;
}
.nav-collapse ul.nav > li > a:hover {
    background: #ffd944 !important;
}
#navbar .navbar-inner.black .nav li.dropdown.open>.dropdown-toggle, #navbar .navbar-inner.black .nav li.dropdown.active>.dropdown-toggle, #navbar .navbar-inner.black .nav li.dropdown.open.active>.dropdown-toggle{
    background: none rgba(0,0,0,0.05) !important;
}
#navbar_login .dropdown-menu.multi-level{
    margin: 0 !important;
}
.dropdown-menu .divider {
    background-color: #999688!important;
    margin: 0 !important;
}

/* --------------------------MULTI-LEVEL DROPDOWN -------------------------- */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*-----------------------------SUB DROPDOWN -------------------------------*/
.nav-collapse, .nav-collapse.collapse{
    z-index: 10;
}
.navbar-inner ul.nav.pull-right .dropdown-menu.multi-level a{
    text-shadow: none !important;
    font: 200 16px "din-light", sans-serif;
    color: #fff !important;
    padding: 21px 22px !important;
    text-transform: uppercase;
    border-left: none;
}
.dropdown-menu.multi-level>li>a:hover, .dropdown-menu.multi-level>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a{
    color: #fff;
    font-weight: 400;
    background: #3f3c35;
}
#help_dropdown_menu{
    padding: 0;
    margin-top: -2px;
}
.dropdown-submenu .dropdown-menu>li>a:hover, .dropdown-submenu .dropdown-menu>li>a:focus, .dropdown-submenu .dropdown-menu:hover>a, .dropdown-submenu .dropdown-menu:focus>a{
    color: #fff;
    font-weight: 400;
    background: #3f3c35;
}

/*----------------------LOGIN DROPDOWN-----------------------*/

#login_dropdown_loggedout{
    background: #000 !important;
    padding: 23px !important;
    color: #b9b9b9;
    font: 200 14px "din-light", sans-serif;
}
#login_dropdown_loggedout > input {
    margin: 10px 0 !important;
    background: #262521;
    border: none;
    color: #b9b9b9;
    font: 200 14px "din-light", sans-serif;
}
#login_dialog label.checkbox,
#login_dropdown_loggedout label.checkbox {
    margin-left: 20px;
    margin-top: 5px;
}

#login_dialog .checkbox input[type="checkbox"],
#login_dropdown_loggedout .checkbox input[type="checkbox"]{
    margin-top: -5px !important;
}
/*--------------------------------------------------------------------------------*/
/*---------------------ICONS -----------------------------------------------------*/
a.brand{
    background-size: 100% 100% !important;
    width: 42px;
    margin: 8px 25px !important;
    display: inline-block;
    vertical-align: middle;
    background: url('../img/icons/BEESOFT_LOGO.svg');
}
.icon{
    background-size: 100% 100% !important;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}
.m-icon{
    background-size: 100% 100% !important;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.s-icon{
    background-size: 100% 100% !important;
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
}
/* 3d controls*/
.move       { background: url('../img/icons/move.svg'); }
.scale      { background: url('../img/icons/scale.svg'); }
.scalem     { background: url('../img/icons/scalemax.svg'); }
.rotate     { background: url('../img/icons/rotatef.svg'); }
.rotatel    { background: url('../img/icons/rotatel.svg'); }
.rotater    { background: url('../img/icons/rotater.svg'); }
.centerplat { background: url('../img/icons/center.svg'); }
.placein    { background: url('../img/icons/place.svg'); }
.clonemod   { background: url('../img/icons/duplicate.svg'); }
.resetmod   { background: url('../img/icons/revert.svg'); }
.trash      { background: url('../img/icons/delete.svg'); }
.homenew    { background: url('../img/icons/home.svg'); }
.clearplat  { background: url('../img/icons/clearplatf.svg'); }
/* Top menu*/
.navbar-inner .m-icon{
    vertical-align: baseline;
    margin-right: 15px;
}
.maintenanceicon  { background: url('../img/icons/maintenance.svg'); }
.settingsicon  { background: url('../img/icons/settings.svg'); }
.usericon  { background: url('../img/icons/profile.svg'); }
.usersettingsicon  { background: url('../img/icons/profile_grey.svg'); }
.abouticon  { background: url('../img/icons/aboutgrey.svg'); }
.helpicon  { background: url('../img/icons/helpgrey.svg'); }
.logouticon  { background: url('../img/icons/logoutgrey.svg'); }
.shutdownicon { background: url('../img/icons/shutdown.svg'); }
.addicon { background: url('../img/icons/add.svg'); }
/* Resolution*/
.res1icon  { background: url('../img/icons/lowres.svg'); }
.res2icon  { background: url('../img/icons/medres.svg'); }
.res3icon  { background: url('../img/icons/highres.svg'); }
.res4icon  { background: url('../img/icons/highestres.svg'); }
/* Density*/
.den1icon  { background: url('../img/icons/lowdens.svg'); }
.den2icon  { background: url('../img/icons/meddens.svg'); }
.den3icon  { background: url('../img/icons/highdens.svg'); }
.den4icon  { background: url('../img/icons/highestdens.svg'); }
.den5icon  { background: url('../img/icons/infillc.svg'); }
/* platform*/
.plat1icon  { background: url('../img/icons/none.svg'); }
.plat2icon  { background: url('../img/icons/raft_1.svg'); }
.plat3icon  { background: url('../img/icons/brim.svg'); }
/* support*/
.supp1icon  { background: url('../img/icons/none.svg'); }
.supp2icon  { background: url('../img/icons/support_1.svg'); }
.supp3icon  { background: url('../img/icons/supportall.svg'); }
/* Maintenance*/
.filamenticon { background: url('../img/icons/filament.svg'); }
.calibrateicon  { background: url('../img/icons/calibrate.svg'); }
.extrudericon  { background: url('../img/icons/extrusor.svg'); }
.nozzleicon  { background: url('../img/icons/nozzle.svg'); }
/* Settings */
.checkicon { background: url('../img/icons/ok.svg'); }
.trashicon { background: url('../img/icons/delete.svg'); }
.editicon { background: url('../img/icons/edit.svg'); }
.profileicon { background: url('../img/icons/profile.svg'); }
/* black */
.refreshicon { background: url('../img/icons/refresh.svg'); }
.scalemaxicon { background: url('../img/icons/scalemax.svg'); }
/*grey*/
.filamentgicon { background: url('../img/icons/filament_grey.svg'); }
.calibrategicon  { background: url('../img/icons/calibrate_grey.svg'); }
.extrudergicon  { background: url('../img/icons/extrusor_grey.svg'); }
.nozzlegicon  { background: url('../img/icons/nozzle_grey.svg'); }
.maintenancegicon  { background: url('../img/icons/maintenance_grey.svg'); }
.printgicon  { background: url('../img/icons/print_grey.svg'); }
.shutdowngicon  { background: url('../img/icons/shutdown_grey.svg'); }
.checkgicon { background: url('../img/icons/ok_grey.svg'); }
.profilegicon { background: url('../img/icons/profile_grey.svg'); }
.settingsgicon { background: url('../img/icons/settings_grey.svg'); }
/*white*/
.printwicon  { background: url('../img/icons/print_white.svg'); }
.editwicon  { background: url('../img/icons/edit_white.svg'); }
.deletewicon  { background: url('../img/icons/delete_white.svg'); }
.importwicon  { background: url('../img/icons/importw.svg'); }
.shutdownwicon  { background: url('../img/icons/shutdown_white.svg'); }
.filterwicon { background: url('../img/icons/filter_white.svg'); }
.refreshwicon { background: url('../img/icons/refresh_white.svg'); }
.cubewicon { background: url('../img/icons/cube_white.svg'); }
/* green */
.checkgreenicon  { background: url('../img/icons/ok_green.svg'); }
/* dynamic icons - change with media queries */
.maintenanceicon-xs  { background: url('../img/icons/maintenance.svg'); }
.settingsicon-xs  { background: url('../img/icons/settings.svg'); }
.shutdownicon-xs  { background: url('../img/icons/shutdown.svg'); }
.usericon-xs  { background: url('../img/icons/profile.svg'); }

.printnow .m-icon,
.addplatform .m-icon { float: left; margin: 4px -10px 0 10px; }
.modal-footer-btn .m-icon,
.btn-ghost .m-icon { float: left; margin: 0px -20px 0 20px;}
.btn-prepareprint .m-icon,
.fileinput-button .m-icon { float: left; margin: 0px -10px 0 10px;}
.btn-print .m-icon {float: left; }
.modal-header h3 span.m-icon {
    margin-right: 15px;
}

/*-------------------- SIDEBAR ---------------------*/

#sidebar-container{
    height: calc(100vh - 70px);
    background: #32312b;
    width: 285px;
    margin: 0;
    right: 0;
    float: right;
    position: absolute;
    overflow: auto;
}

.accordion-heading .accordion-toggle{
    padding: 15px 23px !important;
}

.accordion-inner{
    background: #262521;
    padding: 0 !important;
    /*box-shadow: inset 0 -1px #141414;*/
}
.accordion-inner > div{
    padding: 9px 23px !important;
}

.accordion-heading-button {
    padding: 8px 0 0 0;
}
.accordion-heading-button span{
    font-size: 18px !important;
    color: #fff !important;
}

#workbench-controls-container{
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 55px;
}
#sidebar-container .accordion-group { margin: 0 !important; }
#sidebar-container .accordion-group .accordion-heading {
    padding: 0 !important;
    box-shadow: inset 0 -1px #141414, inset 0 1px #141414;
}
#sidebar-container .accordion-group .accordion-heading > a {
    color: #fff !important;
    text-transform: uppercase ;
}

#workbench-controls-container button{        /* SIDEBAR BUTTONS */
    height: 50px;
    width: 55px;
    border: none;
    padding: 0;
    box-shadow: none;
    background: #f0efef;
    font-size: 24px;
    color: #302f30 !important;
    outline: none;
}
#workbench-controls-container button:hover{
    background: #ffcc00 !important;
}
#workbench-controls-container button:disabled{
    pointer-events: none;
}

#workbench-controls-container button + .tooltip{
    border-radius: 0;
    vertical-align: middle;
    height: 50px;
    text-align: left;
    background: #000;
    line-height: 1.2;
    max-height: 50px;
    text-transform: uppercase;
    margin-left: -8px;
}
#workbench-controls-container button + .tooltip .tooltip-inner{
    display: inline-block;
    font-size: 14px;
    padding: 10px 16px;
    background: transparent;
    width: 110px;
    text-align: left;
}
#workbench-controls-container button + .tooltip .tooltip-arrow{
    margin-left: -5px;
}

#workbench-controls-container > hr{
    margin: 0;
    width: 55px;
}

.accordion-inner, .accordion-group{
    border: none;
}

.print-container{
    padding: 25px;
}

#out-bound-msg{
    background-color: #ea6c54;
    border: 1px solid transparent;
    width: 300px;
    margin: 3px;
    float: right;
    position: absolute;
    bottom: 25px;
    right: 300px;
}

#workbench-controls-container button.btn-primary {
    background: #ccc !important;
}

#files_wrapper {
    height: calc(100vh - 270px);
}
#files {
    height: 100%;
}
#files .accordion-inner {
    min-height: 100%;
}
#sidebar-mobile-toggle {
    display: none;
}
/*----------------- STATUS ------------------------*/
#state {
    position: absolute;
    bottom: 0px;
    height: 145px;
    width: 100%;
}
#state.expanded {
    height: 245px !important;
}
#state_wrapper {
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 100%;
    z-index: 10;
}
#state_wrapper.expanded {
    height: 300px !important;
}
#state > .accordion-inner{
    background: #32312b !important;
    min-height: 100%;
}
#state_wrapper .accordion-heading {
    background: #32312b !important;
    position: absolute;
    bottom: 145px;
    width: 100%;
}
#state_wrapper.expanded .accordion-heading {
    bottom: 245px;
}
#state_wrapper .accordion-heading > .accordion-toggle:first-of-type{
    display: none;
}
#state-header-link  {
    width: 130px;
    padding: 15px 5px 15px 23px !important;
}

#state-header-link strong{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
#state-header-link:hover {
    text-decoration: none;
    cursor: default;
}
#preparePrint {
    position: absolute;
    bottom: 10px;
}
#printFromMemoryDiv {
    position: absolute;
    bottom: 10px;
}

#state_wrapper .accordion-heading.selected {
    background-color: #141414 !important;
}
#state_wrapper .accordion-heading.selected #state-header-link{
    background-color: #32312b !important;
    box-shadow: inset 0 -1px #141414, inset 0 1px #141414!important;
}

#state_wrapper .accordion-heading.selected #printer-name-link:after {
    content:'';
    position: absolute;
    top: 99%;
    left: 160px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #141414;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    z-index: 100;
}

#insufficientFilamentMessage {
    position: absolute;
    bottom: 130px;
}
#selecteFileInfo {
    position: absolute;
    bottom: 70px;
}
#noFilamentAvailableButtons {
    position: absolute;
    bottom: 20px;
    width: 239px;
}
#printRunningButtons {
    position: absolute;
    bottom: -10px;
    width: 239px;
}

#printer-name-link {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    font-size: 14px;
    text-align: right;
    word-break: break-word;
}

#showPrintDetails .progress{
    width:100%;
}
#loadedFilename {
    display: block;
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.print-control{
    text-transform: uppercase;
    font: 200 16px "din-light", sans-serif;
}
.loaded-file{
    color:#898989;
    margin-right: 5px;
}

.status-ball{
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid #999688;
    background: transparent;
    margin-right: 8px;
}
.status-ball.printing{
    border: 1px solid #518359;
    animation: printing 0.5s infinite alternate;
}
.status-ball.heating{
    border: 1px solid #ea6c54;
    animation: heating 0.5s infinite alternate;
}
.status-ball.paused{
    background: #999688;
    border: 1px solid #999688;
}
.status-ball.error{
    background: #ea6c54;
    border: 1px solid #ea6c54;
}
@keyframes printing {
  from { box-shadow: inset 0 0 0 10px #518359; }
  to { box-shadow: inset 0 0 0 0 #518359; }
}
@keyframes heating {
  from { box-shadow: inset 0 0 0 10px #ea6c54; }
  to { box-shadow: inset 0 0 0 0 #ea6c54; }
}


.printer-img{
    float: right;
    padding: 8px 15px;
    text-align: right;
}

/*----------------- 3D CONTROLS ------------------------*/

.workbench-title{
    text-transform: uppercase;
    font-weight: 400;
}

#btn-scale-max, #btn-rotate-cw, #btn-rotate-ccw{
    width: unset !important;
    padding: 5px 15px !important;
}


#axis-values, #rotate-values-form, #scale-values-form{
    position: fixed;
    z-index: 0 ;
    bottom: 25px;
    left: 110px;
}
#axis-values button, #rotate-values-form button, #scale-values-form button{
    height: unset;
    font-size: 14px;
}

.move-x, .move-y, .move-z,
.scale-x, .scale-y, .scale-z,
.rotate-x, .rotate-y, .rotate-z{
    display: inline-block;
    padding-right: 20px;
}

#workbench-controls-container #scale-axis-form label.radio {
    padding-right: 35px;
}
#workbench-controls-container #scale-axis-form #keep-proportions-container {
    padding-left: 35px;
}

#workbench-controls-container #rotate-axis-form label.radio {
    padding-right: 35px;
    padding-left: 5px;
}
#workbench-controls-container #rotate-axis-form #rotate-buttons button {
    display: inline-block;
}

.move-x > input[type="text"], .move-y > input[type="text"], .move-z > input[type="text"],
.scale-x > input[type="text"], .scale-y > input[type="text"], .scale-z > input[type="text"],
.rotate-x > input[type="text"], .rotate-y > input[type="text"], .rotate-z > input[type="text"]{
    width: 50px !important;
    border: none;
    background: #f0efef;
}

input[name=x-axis]{ border-bottom: 2px solid #ff0000 !important; }
input[name=y-axis]{ border-bottom: 2px solid #00ff00 !important; }
input[name=z-axis]{ border-bottom: 2px solid #0000ff !important; }

.workbench-controls-label {
    vertical-align: sub;
}
.white-label-message {
    color: #fff;
}

/*--------- DEFAULT BUTTONS & INPUTS & SPANS ----------*/

button.btn, a.btn{
    font: 200 16px "din-light", sans-serif;
    background: #ccc;
    padding: 10px 25px;
    box-shadow: none;
    text-transform: uppercase;
    text-shadow: none;
    border: none;
    transition: all 0.2s ease;
}
button.btn.green, a.btn.green{
    color: #fff;
    background: #518359;
}
button.btn.yellow, a.btn.yellow{
    color: #000;
    background: #ffcc00;
}
button.btn:hover, a.btn:hover{  filter: brightness(110%);  }
button.btn.yellow:hover, a.btn.yellow:hover{ }

.btn.disabled, .btn[disabled]{
    opacity: 0.4 !important;
}

input{
    height: 31px !important;
    border-radius: 0 !important;
}
input + span.add-on{
    padding: 9px !important;
    border-radius: 0 !important;
}

.btn-prepareprint{
    width: 100% !important;
    right: 27% !important;
    bottom: 25px !important;
    font: 200 16px "din-light", sans-serif;
    text-transform: uppercase;
    box-shadow: none !important;
    border: none !important;
    color: #fff;
    background: #518359;
    padding: 15px;
}

.btn-ghost{
    color: #fff;
    text-align: center;
    font: 200 14px "din-light", sans-serif;
    border: 1px solid #676356;
    background: transparent;
    display: inline-block;
    text-decoration: none !important;
    margin: 0 0 15px !important;
    width: 100%;
    padding: 7px 0;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.btn-ghost:hover,.btn-ghost:active,.btn-ghost:focus {
    background: #676356;
    color: #fff;
}

.btn-print, .btn-pause, .btn-cancel{
    display: inline-block !important;
}
.btn-print{
    width: 63%;
    font: 200 18px "din-light", sans-serif;
    background: #4d955e !important;
    color: #fff !important;
}
.btn-pause{
    width: 80%;
    font: 200 18px "din-light", sans-serif;
    background: #676356 !important;
    color: #fff !important;
}
.btn-cancel{
    width: 35%;
    padding: 10px 10px !important;
    font: 200 18px "din-light", sans-serif;
    background: #676356 !important;
    color: #fff !important;
}

.btn-stop{
    width: 17%;
    padding: 10px 10px !important;
    font: 200 18px "din-light", sans-serif;
    background: #ea6c54 !important;
    color: #fff !important;
}
.btn-print-from-memory {
    background-color: #32312b !important;
    color: #fff !important;
    border: solid !important;;
    border-width: 1px !important;;
}
.btn-software-update {
    font-size: 15px !important;
}
/* ---------------- FILE MANAGER  ------------------ */

#files .slimScrollDiv{
    padding: 0 23px !important;
}

.text-error{  color: #ea6c54 !important; }

.import-file{
    height: 70px;
}

/*----------------GCODE---------------*/
#files .gcode_files .entry{
    background: #3f3c35;
    padding: 0 !important;
    margin-bottom: 17px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 0 0 rgba(20, 20, 20, 0.25);
	border: solid 2px #000 !important;
}
#files .gcode_files .entry:after{
    content: 'gcode';
    text-transform: uppercase;
    position: absolute;
    top: -5px;
    font-size: 11px;
    color: #fff;
    right: -2px;
    padding: 0 25px;
    background: #000 !important;
}

#files .gcode_files .entry.stl:before {
    content: url('../img/icons/cube_white.svg');
    position: absolute;
    top: -4px;
    right: 40px;
    padding: 0 7px;
    width: 12px;
    z-index: 8;
}

#files .gcode_files .entry:before {
    content: url('../img/icons/gcode_white.svg');
    position: absolute;
    top: -4px;
    right: 58px;
    padding: 0 7px;
    width: 12px;
    z-index: 8;
}
/*----------------STL---------------*/
#files .gcode_files .entry.stl{
	border: solid 2px #000 !important;
}
#files .gcode_files .entry.stl:after{
    content: 'stl';
    background: #000 !important;
}


#files .gcode_files .entry .additionalInfo{
    padding: 0 20px 10px;
}

#files .gcode_files .entry:hover{
    background-color: #3f3c35 !important;
}

#files .entry .btn-group>.btn-mini{
    font-size: 14px;
    border: none;
    background: transparent;
    text-shadow: none;
    color: #f0efef;
}

#files .gcode_files .entry .title{
    font: 200 14px "din-light", sans-serif;
    text-transform: uppercase;
    padding: 16px 20px 13px !important;
    white-space: nowrap;
    overflow-x: hidden;
}
#files .gcode_files{ padding-right: 0 !important;}

#files .gcode_files .entry .action-buttons{
    position: relative !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 100%;
}
#files .gcode_files .entry .action-buttons > div, #files .gcode_files .entry .action-buttons > a{
    padding: 5px 0 0 !important;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    height: 30px;
    font-size: 12px;
    color: #999688;
    border-right: 1px solid #32312b;
    border-top: 1px solid #32312b;
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: all 0.2s ease;
}
#files .gcode_files .entry .action-buttons > div:last-of-type, #files .gcode_files .entry .action-buttons > a:last-of-type{
    border-right: none;
}
#files .gcode_files .entry .action-buttons > div:hover, #files .gcode_files .entry .action-buttons > a:hover{
    background: #000;
}
#gcode_upload_progress {
    bottom: 85px;
}
.btn.disabled{ pointer-events: none; }

/*----------small file controls---------*/
.smabtn{ width: 16.666666%; }
.bigbtn{ width: 66.66%; }
.hugebtn{ width: 83.33%; }
/*----*/
.fileinput-button{
    font: 200 18px "din-light", sans-serif;
    text-transform: uppercase;
    text-align: center;
    background: #999688;
    color: #fff;
    text-shadow: none;
    padding: 15px;
    margin: 0 !important;
    transition: all 0.2s ease;
}
.fileinput-button:hover{
    background: #aeab9d;
}
.progress{
    height: 22px !important;
    border-radius: 0 !important;
    background: transparent !important;
    margin: 10px -23px -20px -23px;
}
.progress .bar{
    font-size: 12px !important;
    background: #518359 !important;
}
.progress-time {
    color: #fff;
    font-size: 14px;
}
#maintenance_dialog .progress {
    margin: 10px -23px -20px -0px !important;
}

.input-search-box{
    background: #111 !important;
    border-radius: 0 !important;
    border: none !important;
    width: 100% !important;
    color: #999688 !important;
    text-align: center;
    padding: 11px 0 !important;
    font: 16px "din-light", sans-serif !important;
    text-transform: uppercase;
    height: 50px;
    margin: 0 -15px;
}

.settings-trigger .dropdown-menu{
    right: 0;
    left: unset;
}

/*-------------------- TABS ---------------------*/

#tabs{
    position: absolute;
    z-index: 1;
    width: calc(100% - 285px);
}
#tabs > li {
    padding: 20px 0 20px 15px;
}
#tabs > li.active > a {
    font: 16px "din-black", sans-serif;
    color: #000;

}
#tabs > li > a{
    font: 200 16px "din-light", sans-serif;
    background: transparent !important;
    color: #898989;
    text-transform: uppercase;
    border: none;
}

#gcode, #control , #temp, #term{
    padding: 65px 25px;
}
#gcode.tab-pane{
   max-height: calc(100vh - 200px);
}
#tab-container .tab-content>.tab-pane, #tab-container .pill-content>.pill-pane{
    overflow-y: auto;
    overflow-x: hidden;
}
#workbench.tab-pane{
    height: unset;
}

#timelapse-config-container {
    margin-top: 70px;
    margin-left: 30px;
}
#finished-timelapses-container {
    margin-left: 30px;
}
#timelapse-config-container label.checkbox {
    margin-left: 20px;
}


/*---------- LOGIN -----------*/

#login_button{
    background: #518359;
    color: #fff;
}


/*----------------- MODALS ----------------------*/

.modal-header{
    padding: 15px 23px;
}
.modal-header h3{
    font-size: 16px;
    color: #898989;
    text-transform: uppercase;
}

.modal-backdrop, .modal-backdrop.fade.in{
    background: #20201d !important;
}

.modal{
    background: #ebebeb;
    border: 0;
    border-radius: 0;
}
.modal-body{ padding: 15px 25px !important;}
.modal-body .full-sized-box { padding: 0 23px !important; }
.modal-body .full-sized-box .tab-content {
    padding: 10px 23px !important;
}

.modal-body .table-condensed th, .modal-body .table-condensed td{
    padding: 5px 10px !important;
    vertical-align: middle;
    height: 45px;
}
.modal.maintenance {
    width: 800px;
    margin-left: -487px;
}

/*---------------------SPECIFIC MODAL STRUCTURES ---------------------*/
#settings_dialog .modal-body .full-sized-box,
#usersettings_dialog .modal-body .full-sized-box {
    padding: 0 23px !important;
    margin: 0 0 0 -23px !important;
}
#maintenance_dialog .modal-body .full-sized-box {
    padding: 0 0 !important;
    /*margin: 0 -23px !important;*/
}
/*-----------------------------------*/

#settingsTabs .nav-header {
    color: #000;
}
#settingsTabs li a {
    color: #898989;
}

#settingsTabs li.active a {
    color: #000;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th{
    background-color: rgba(255, 204, 0, 0.2) !important;
}
table th.settings_printerProfiles_profiles_action, table td.settings_printerProfiles_profiles_action{ width: 120px !important; }
table th.settings_printerProfiles_profiles_action a, table td.settings_printerProfiles_profiles_action a{
    height: 100%;
    padding: 15px 0;
    vertical-align: middle;
    display: inline-block;
    transition: all 0.2s ease;
}
td.settings_printerProfiles_profiles_name, td.settings_printerProfiles_profiles_model {
    background-color: #e1e2e1;
}
td.settings_printerProfiles_profiles_action .m-icon {
    width: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
th.settings_printerProfiles_profiles_name, th.settings_printerProfiles_profiles_model, th.settings_printerProfiles_profiles_action {
    color: #898989;
}

.settings_printerProfiles_profiles_action{
    padding: 0 !important;
}
#settings_printerProfiles_profiles .default_profile {
    border: solid 2px #518359;
}
#settings_printerProfiles_profiles .default_profile .checkgreenicon{
    margin-right: 5px;
}

td.settings_users_name, td.settings_users_active, td.settings_users_admin{
    background-color: #e1e2e1;
}
#settings_users .settings_users_actions{
   width: 129px !important;
}
td.settings_users_actions .m-icon {
    width: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-row{
    padding: 10px 23px !important;
    margin-bottom: 1px;
    min-height: 110px;
    color: #898989;
    background-color: #e1e1e1;
}
.modal-row .m-icon{ margin-right: 10px; vertical-align: text-top; }

#maintenance_dialog .modal-body{
    min-height: 475px !important;
}
#usersettings_dialog .modal-body{
   min-height: 540px;
}
#maintenance_dialog,
#usersettings_dialog,
#settings_dialog
{
    top: 0 !important;
    margin-top: 30px !important;
}
#maintenanceList .modal-row > .text-right{
    padding: 35px 0 0;
}
#maintenanceList .modal-row:first-of-type{
    min-height: 105px;
}
#maintenanceList .modal-row{
    min-height: 105px;
}
#maintenanceList .modal-row > .text-center{
    padding: 25px 0 0;
}

.modal-row h3{
    text-transform: uppercase;
    font: 200 16px "din-light", sans-serif;
    color: #898989;
}
.modal-row p{
    font: 200 11px "din-light", sans-serif;
}
.modal-footer-btn {
    padding: 22px 15px !important;
}
#usersettings_dialog .input-append input {
    width: 375px;
}
#settings-usersDialogChangePassword .input-append input {
    width: 220px;
}
#usersettings_dialog .input-append a,
#settings-usersDialogChangePassword .input-append a{
    background-color: #f1f0f0;
    padding: 10px 20px;
}

.input-append .btn {
    border-radius: 0!important;
}
/*-------------------modal tabs -------------------------*/
.tabbable .scrollable.span3{
    background: #e1e1e1 !important;
}
.tabbable .scrollable.span3 .nav-list .nav-header, .tabbable .scrollable.span3 .nav-list>li>a{
    padding: 7px 23px !important;
    text-transform: uppercase;
    transition: all 0.2s ease;
    text-shadow: none;
}
.tabbable .nav-list>.active>a, .tabbable .nav-list>.active>a:hover, .tabbable .nav-list>.active>a:focus{
    color: #000;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    background-color: #ebebeb;
    box-shadow: inset 10px 0 0 #ffcc00;
}
.tabbable .nav-list>.active>a:hover{ color: #fff !important; }
.nav-list>li>a:hover{
    background: #999688 !important;
    color: #fff !important;
}
/*------------------------------FORMS-----------------------------------------*/

.controls input {
    background-color: #e1e2e1;
    height: 37px !important;
    border: 0px none;
}
.custom-input {
    background-color: #e1e2e1 !important;
    height: 37px !important;
    border: 0px none !important;
}
.control-group label {
    color: #898989;
}
.controls .checkbox label {
    padding-top: 5px;
}
.controls label.checkbox {
    margin-left: 20px;
}
.controls input.checkbox {
    margin-left: 10px;
    margin-top: -3px;
}
.input-append span.add-on {
    height: 25px !important;
}
.input-append>.btn-group button,
.input-append button.btn {
    height: 45px !important;
}
#timelapse-config-container input {
    background-color: #e1e2e1 !important;
    height: 37px !important;
    border: 0px none !important;
}
/*------------------------------PILLS-----------------------------------------*/

.nav-pills>li>a{ background: transparent ;}
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus{
    background: #ffcc00 !important;
    color: #000 ;
}
.nav-pills>li>a:hover{ background: #999688 !important; }

/*------------------------------------*/
.modal .modal-footer{
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color: #32312b;
}
.modal .modal-footer > a:first-of-type, .modal .modal-footer > button:first-of-type{
    background: transparent;
    color: #777;
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
}
.modal .modal-footer > a:first-of-type, .modal .modal-footer > button:first-of-type {
    padding: 20px;
}
#slicing_configuration_dialog .modal-body{
    padding: 0  !important;
}
/*-------------------------------------LABEL UI----------------------------------------*/
#slicing_configuration_dialog .form-horizontal .control-label.closed + .control-group > .controls {
    height: 0;
    display: none;
}
#slicing_configuration_dialog .form-horizontal .control-label:after {
    content: '\f106';
    right: 23px;
    font-size: 20px;
    position: absolute;
    font-family: fontAwesome;
    color: #bcbcbc;
    transition: all 0.2s ease;
}
#slicing_configuration_dialog .form-horizontal .control-label.closed:after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
#slicing_configuration_dialog .control-group{
    margin-bottom: 2px;
    text-align: center;
    background: #e1e2e1;
}
#slicing_configuration_dialog .form-horizontal .controls{
    margin-left: 0;
    display: flex;
    padding: 0 23px;
    transition: all 0.1s ease;
}
#slicing_configuration_dialog .form-horizontal .controls label {
    width: 20%;
    height: 85px;
    padding: 10px 0 5px;
    margin: 0;
    transition: all 0.2s ease;
}
#slicing_configuration_dialog .form-horizontal .controls label > div {  margin: 10px 0 0; }
#slicing_configuration_dialog .form-horizontal .controls label > p   {  margin: 0; }


#slicing_configuration_dialog .form-horizontal .controls > input{ display: none; }

#slicing_configuration_dialog .form-horizontal .controls > input:checked + label{
    background: #fc0;
    color: #000;
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.15);
}

#slicing_configuration_dialog .form-horizontal{
    margin: 0;
}

#slicing_configuration_dialog .form-horizontal > .control-label{
    width: unset;
    text-align: left;
    float: none;
    text-transform: uppercase;
    padding: 5px 23px 6px;
    margin-bottom: 0;
    border-bottom: 1px solid #c5c5c5;
    background: #e1e2e1;
}
#slicing_configuration_dialog .control-label small{
    font-size: 12px;
    display: block;
}

#slice_button,
#settings_dialog .modal-footer .btn-primary,
#settings_printerProfiles_editDialog .modal-footer .btn-primary,
#usersettings_dialog .modal-footer .btn-primary,
#settings-usersDialogAddUser .modal-footer .btn-primary,
#settings-usersDialogEditUser .modal-footer .btn-primary,
#settings-usersDialogChangePassword .modal-footer .btn-primary {
    padding: 20px 0;
    width: 175px;
    text-transform: uppercase;
    color: #fff;
    background: #518359;
    display: inline-block;
}
#maintenance_dialog .modal-footer .btn-primary {
    padding: 20px 0;
    text-transform: uppercase;
    color: #fff;
    background: #518359;
}
#maintenanceCloseButton, #login_dialog .modal-footer .btn, #cancelMaintenance, #aboutbee_dialog .modal-footer .btn{
    padding: 20px;
    background: transparent;
    color: #898989;
    border: none;
    box-shadow: none;
    border-left: 1px solid #252420;
    text-shadow: none;
}

.slider .slider-selection{
    background: #ffcc00 !important;
}
/*------Custom Cases Slicing panel ---------*/
#slicing_configuration_dialog label[for='density5'] input {
   width: 60px;
    margin-top: 10px;
    height: 25px !important;
    display: inline-block;
    border: none !important;
    background: #d7d7d7;
    color: #000;
}

#slicing_configuration_dialog input[name='platform'] + label, #slicing_configuration_dialog input[name='support'] + label{
    padding: 16px 0 0 !important;
}

.filament-div, .nozzle-div{
    width: 50%;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
}
.filament-div select, .nozzle-div select{
    border: none;
    height: 35px;
    margin-bottom: 5px;
    background: #f5f5f5;
}

#slicing_configuration_dialog .filament{
    font-weight: bold;
    white-space: nowrap;
    font-family: din-black, sans-serif !important;
}
/*--------------------------------------------------------------*/
/*----------------- NOTIFICATIONS POPUPS -----------------------*/

.ui-pnotify-container{
    border: none;
    border-radius: 0;
    font: 200 14px "din-light", sans-serif;
    padding: 20px;
    text-shadow: none;
    -webkit-box-shadow: 0 2px 10px rgba(50,50,50,.15) !important;
    -moz-box-shadow: 0 2px 10px rgba(50,50,50,.15) !important;
    box-shadow: 0 2px 10px rgba(50, 50, 50, 0.15) !important;
}
.ui-pnotify-container.alert-info{
    background-color: #f0efef;
    color: #000;
}
.ui-pnotify-container.alert-info .ui-pnotify-title{
    color: #000;
}
.ui-pnotify-title {
    text-shadow: none !important;
    text-transform: uppercase;
    font-weight: 300 !important;
}

.ui-pnotify-container.alert-success{
    background-color: #76a37c;
    color: #fff;
}

/*-------------------------- Custom Checkboxes ------------------------*/

.checkbox{
  padding-left: 0;
  height: 35px;
}

#workbench-controls-container [type="checkbox"]:not(:checked),
#workbench-controls-container [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
#workbench-controls-container [type="checkbox"]:not(:checked) + label,
#workbench-controls-container [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.95em;
  cursor: pointer;
}

/* checkbox aspect */
#workbench-controls-container [type="checkbox"]:not(:checked) + label:before,
#workbench-controls-container [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 30px; height: 30px;
  border: none;
  background: #e1e1e1;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
#workbench-controls-container [type="checkbox"]:checked + label:before { background: #ffcc00 !important;}

/* checked mark aspect */
#workbench-controls-container[type="checkbox"]:not(:checked) + label:after,
#workbench-controls-container [type="checkbox"]:checked + label:after {
  content: url('../img/icons/ok.svg');
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px; left: 6px;
  line-height: 0.8;
  color: #000000;
  transition: all .2s;
}
/* checked mark aspect changes */
#workbench-controls-container [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
#workbench-controls-container [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
#workbench-controls-container [type="checkbox"]:disabled:not(:checked) + label:before,
#workbench-controls-container [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
#workbench-controls-container [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
#workbench-controls-container [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
#workbench-controls-container [type="checkbox"]:checked:focus + label:before,
#workbench-controls-container [type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: inset 0 0 0 1px #e2ac24;
}

/* hover style just for information */
label:hover:before {
  box-shadow: inset 0 1px 3px #ffcc00;
}



/*----------------------------  Custom Radiobuttons ----------------------------------*/

#workbench-controls-container .radio.inline+.radio.inline{
    /*margin: 0 0 10px 5px;*/
}

#workbench-controls-container [type="radio"]:not(:checked),
#workbench-controls-container [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
#workbench-controls-container [type="radio"]:not(:checked) + label,
#workbench-controls-container [type="radio"]:checked + label {
  position: relative;
  padding-left: 2.95em;
  cursor: pointer;
}

/* radio aspect */
#workbench-controls-container [type="radio"]:not(:checked) + label:before,
#workbench-controls-container [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    width: 40px;
    margin-left: -5px;
    height: 30px;
    z-index: -1;
    border: none;
    background: #e1e1e1;
    border-radius: 0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
#workbench-controls-container [type="radio"]:checked + label:before { background: #ffcc00 !important;}

/* checked mark aspect */
#workbench-controls-container [type="radio"]:not(:checked) + label,
#workbench-controls-container [type="radio"]:checked + label {
    position: absolute;
    line-height: 2;
    height: 30px;
    margin: 0;
    display: inline-block;
    padding: 0 !important;
    width: 40px;
    color: #000000;
    transition: all .2s;
}

/* disabled radio */
#workbench-controls-container [type="radio"]:disabled:not(:checked) + label:before,
#workbench-controls-container [type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
#workbench-controls-container [type="radio"]:disabled:checked + label:after {
  color: #999;
}
#workbench-controls-container [type="radio"]:disabled + label {
  color: #aaa;
}
/* accessibility */
#workbench-controls-container [type="radio"]:checked:focus + label:before,
#workbench-controls-container [type="radio"]:not(:checked):focus + label:before {
  box-shadow: inset 0 0 0 1px #e2ac24;
}

/*---------------------------------- Developer Mode Tabs ---------------------------------------------*/

#control .control-box {
    height: inherit !important;
}

/*------------------------------------ First Run Dialog ---------------------------------------------*/
#first_run_dialog .modal-body p{
    color: #898989 !important;
}
#first_run_dialog .modal-body .control-label{
    color: #898989 !important;
}
#confirmation_dialog .modal-body p{
    color: #898989 !important;
}

/*-----------------------------------------------------------------------------------------------------*/
/*--------------------------------------      MEDIA QUERIES      --------------------------------------*/

@media (max-width: 1280px){
    #tab-container {
        width: 76.5%;
    }
    .btn-prepareprint{
        right: 345px !important;
    }
}
@media (max-width: 1200px){
    #tab-container {
        width: 76.5%;
    }
}

@media (max-width: 1090px){
    #axis-values, #rotate-values-form, #scale-values-form{
        bottom: 90px !important;
    }

}

@media (max-width: 979px){
    #tab-container {
        width: 76.92%;
    }
}

@media (max-width: 768px){
    body{ padding: 0 !important; }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{ margin: 0 !important; }
    #tab-container, #stl_container canvas {
        width: 100% !important;
    }
    #tabs{
        width: calc(100% - 15%);
    }
    #workbench-controls-container{
        top: 120px;
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        height: 80%;
        width: 70px;
    }
    .btn-prepareprint {
        right: 25px !important;
    }
    /* Dropdown mobile */
    .nav-collapse ul.nav{
        background: #000 !important;
        z-index: 10 !important;
    }
    .nav-collapse ul.nav > li > a{
        padding: 23px 30px !important;
        color: #fff !important;
    }
    .nav-collapse ul.nav > li > a:hover {
        background: #3f3c35 !important;
    }
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
        border-radius: 0px;
    }
    #navbar .navbar-inner.yellow .nav li.dropdown.open>.dropdown-toggle, #navbar .navbar-inner.yellow .nav li.dropdown.active>.dropdown-toggle, #navbar .navbar-inner.yellow .nav li.dropdown.open.active>.dropdown-toggle {
        background-color: #ffcc00 !important;
    }
    .navbar .nav-collapse .nav li>a:hover {
        text-shadow: none;
        background: #3f3c35 !important;
    }

    #sidebar-container{
        position: fixed;
        top: 69px !important;
        left: 98% !important;
    }
    #axis-values, #rotate-values-form, #scale-values-form{
        bottom: 25px !important;
        left: 85px;
    }

    /* sidebar mobile tweaks */
    #sidebar-mobile-toggle {
        display: block;
        position: fixed;
        padding: 7px 7px;
        background-color: #32312b;
        top: 69px;
        right: 0px;
    }
    #sidebar-container.sidebar-visible {
        left: auto !important;
        z-index: 1 !important;
    }
    #sidebar-mobile-toggle.sidebar-visible {
        display: block;
        position: static !important;
        top: auto !important;
        right: auto !important;
        border-left: solid 1px #000;
    }

    .scale-x, .scale-y, .scale-z {
        display: block;
    }

    #out-bound-msg {
        top: 60px;
        bottom: inherit;
        left: 20px;
    }

    .maintenanceicon-xs  { background: url('../img/icons/maintenance_white.svg'); }
    .settingsicon-xs  { background: url('../img/icons/settings_white.svg'); }
    .shutdownicon-xs  { background: url('../img/icons/shutdown_white.svg'); }
    .usericon-xs  { background: url('../img/icons/profile_white.svg'); }
}
/* workaround for navbar collapse in screen with resolution width below 900px */
@media (min-width: 768px) and (max-width: 900px) {
    .navbar .nav-collapse .nav.pull-right {
        float: none;
        margin-left: 0;
    }
    .navbar .btn-navbar {
        display: block;
    }
    .nav-collapse, .nav-collapse.collapse {
        overflow: hidden;
        height: 0;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse ul.nav {
        background: #000 !important;
        z-index: 10 !important;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse ul.nav > li > a:hover {
        background: #3f3c35 !important;
    }
    .nav-collapse ul.nav > li > a {
        padding: 23px 30px !important;
        color: #fff !important;
    }
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
        padding: 9px 15px;
        font-weight: bold;
        color: #777777;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    .nav-collapse .open > .dropdown-menu {
        display: block;
    }
    .nav-collapse .dropdown-menu {
        position: static;
        top: auto;
        left: auto;
        float: none;
        display: none;
        max-width: none;
        margin: 0 15px;
        padding: 0;
        background-color: transparent;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after {
        display: none;
    }
    .nav-collapse .dropdown-menu:before, .nav-collapse .dropdown-menu:after {
        display: none;
    }

    #navbar .navbar-inner.yellow .nav li.dropdown.open>.dropdown-toggle, #navbar .navbar-inner.yellow .nav li.dropdown.active>.dropdown-toggle, #navbar .navbar-inner.yellow .nav li.dropdown.open.active>.dropdown-toggle {
        background-color: #ffcc00 !important;
    }

    .navbar .nav-collapse .nav li>a:hover {
        text-shadow: none;
        background: #3f3c35 !important;
    }

}

@media (max-height: 768px) {
    #workbench-controls-container button + .tooltip{
        position: fixed;
    }
    #workbench-controls-container {
        top: 120px;
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        height: 80%;
        width: 70px;
    }

    #slicing_configuration_dialog {
        position: absolute !important;
    }
}

@media (max-width: 480px){

}


@media (max-width: 320px){

}
