canvas { width: 100% !important; }

#printer-name-label {
    color: #ECC459 !important;
}

.brand-label-fix {
    font-size: x-large;
    margin-right: -10px;
}

#temperature-graph {
    background-position: 50% 30% !important;
}

.lockedOperation a {
    pointer-events: none;
    color: white !important;
}

.active.lockedOperation a {
    pointer-events: none;
    color: black !important;
}

.operationsList li a {
    font-size: larger !important;
}