canvas { width: 100% !important; }

#printer-name-label {
    color: #807B71 !important;
}

.axis-input-box {
    text-align:right;
}

.brand-label-fix {
    font-size: x-large;
    margin-right: -10px;
}

#temperature-graph {
    background-position: 50% 30% !important;
}

.lockedOperation a {
    pointer-events: none;
    color: white !important;
}

.active.lockedOperation a {
    pointer-events: none;
    color: black !important;
}

.operationsList li a {
    font-size: larger !important;
}

.workbench-top-buttons {
    margin-bottom: 5px;
}
.workbench-alert {
    padding: 4px 35px 4px 14px;
}
.printer-status {
    font-size: large;
    text-transform: uppercase;
}
.text-black {
    color: black;
}
.btn-delete {
    color: #cd0200 !important;
}
.input-search-box {
    width: 85%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
