<!DOCTYPE html>
<html>
    <head>
        <title data-bind="text: title">BEESOFT - Network configuration</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/bee.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/bee.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/bee.png') }}">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        {% include 'stylesheets.jinja2' %}
    </head>
    <body>
        <div class="page-container">
            <div id="navbar" class="navbar navbar-static-top">
                <div class="navbar-inner" data-bind="css: appearanceClasses">
                    <div class="container">
                        <a class="brand" href="#">

                        </a>

                        <div class="nav-collapse">
                            <!-- Navbar -->
                            <ul class="nav pull-right">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container octoprint-container">
                <div class="row-fluid">

                    <!-- Tabs -->
                    <div class="tabbable span12">

                        <!--<ul class="nav nav-tabs" id="tabs">-->
                            <!--<li id="wifi-config_link" class="active">-->
                                <!--<a href="#wifi-config" data-toggle="tab">{{ _('Network Configurations') }}</a>-->
                            <!--</li>-->
                        <!--</ul>-->

                        <div class="tab-content">
                            <h4>{{ _('Network Configurations') }}</h4>
                            <div id="wifi-config" class="tab-pane active">
                                <br /><br />
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <div class="controls">
                                                <label>{{ _('Available networks') }}: </label>
                                                <select id="networks-list" class="form-control" style="margin-bottom: 0px;"
                                                        onchange="$('#network-password').show();" >
                                                    <option value=""></option>
                                                </select>
                                                <a id="get-networks-button" class="btn btn-default" onclick="getNetworkList()"
                                                data-loading-text="<i class='icon-refresh icon-spin'></i>">
                                                    <i class="icon-refresh"></i>
                                                </a>
                                                <br />
                                                <p>
                                                    <small>
                                                        <i class="icon-info"></i>
                                                        {{ _('Please select the wi-fi network you wish to join.') }}
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div id="custom-newtwork" class="control-group" >
                                            <div class="controls">
                                                <label>{{ _('Custom SSID') }}: </label>
                                                <input id="custom-network-input" type="text" onkeyup="$('#network-password').show();" autocomplete="off"/>
                                                <p>
                                                    <small>
                                                        <i class="icon-info"></i>
                                                        {{ _('If you want to connect to a hidden Wi-fi network, write the SSID name in the input above.') }}
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-inline">
                                        <div id="network-password" class="control-group" style="display: none;">
                                            <div class="controls">
                                                <label>{{ _('Network password') }}: </label><br />
                                                <input id="password-input" type="password" class="password" autocomplete="off"/>

                                                <input id="showHide" type="checkbox" />
                                                <label> {{ _('Show/hide password') }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div id="buttons-network" class="control-group" >

                                        <div class="controls">
                                            <button id="connect-button" class="btn btn-primary" onclick="connectNetwork()">
                                                {{ _('Connect') }} <i class="icon-rss   "></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div id="alert-connect" class="row-fluid" style="display: none;">
                                        <div class="alert alert-info">
                                            <i class="icon-info"></i>
                                            {{ _('The device will now try to connect to the selected network for one minute.
                                            You will loose connectivity with this web page. If the connection is not successful after
                                            one minute you can access this page again using the device own wi-fi network.') }}
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <hr />
                                <br />
                                <div class="row-fluid">
                                    <h4>{{ _('Hostname Configuration') }}</h4>
                                    <div id="hostname" class="control-group" >
                                        <div class="controls">
                                            <label>{{ _('Current hostname') }}: </label>
                                            <input id="hostname-input" type="text" />
                                            <div>
                                                <i class="icon-info"></i>
                                                <small>{{ _('The hostname will be used to identify your device in the network.
                                                Please choose a unique name.') }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="alert alert-warning">
                                        <i class="icon-info"></i>
                                        <small>{{ _('Please notice that changing the hostname will require rebooting your device!') }}</small>
                                    </div>
                                    <div id="buttons" class="control-group" >
                                        <div class="controls">
                                            <button id="change-hostname-button" class="btn btn-primary" onclick="saveHostname()">
                                                {{ _('Save') }} <i class="icon-save"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div id="alert-hostname" class="row-fluid" style="display: none;">

                                    <div class="alert alert-info">
                                        <i class="icon-alert"></i>
                                        {{ _('The device will now reboot. In order to access this application again use the hostname you configured. Ex: http://beewebpi.local being beewebpi the hostname.') }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="footer">
                    <hr />
                    <ul class="pull-left muted">
                        <li><large>{{ _('BEE.web') }} &copy 2017 BEEVC - Electronic Systems : <span class="version">{{ display_version }}</span></large></li>
                    </ul>
                    <ul class="pull-right">
                        <li>{{ _('powered by ') }}<a href="http://octoprint.org"><i class="icon-github"></i> Octoprint</a></li>
                        <!--<li><a href="https://github.com/foosel/OctoPrint/"><i class="icon-github"></i> {{ _('Sourcecode') }}</a></li>-->
                        <!--<li><a href="http://docs.octoprint.org"><i class="icon-book"></i> {{ _('Documentation') }}</a></li>-->
                        <!--<li><a href="https://github.com/foosel/OctoPrint/issues"><i class="icon-flag"></i> {{ _('Bugs and Requests') }}</a></li>-->
                    </ul>
                </div>
            </div>

            {% assets "js_libs" %}
                <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}

            {% if g.locale %}
                <script type="text/javascript" src="{{ url_for('localeJs', locale=g.locale, domain='messages') }}"></script>
            {% endif %}

        </div>
        <script>
            var BASEURL = "{{ url_for('index') }}";
            var BEE_CUSTOM_API_BASEURL = BASEURL + "bee/api/";

            $( document ).ready(function() {
                getNetworkList();

                getCurrentHostname();

                $("#showHide").click(function() {
                    if ($(".password").attr("type") == "password") {
                      $(".password").attr("type", "text");

                    } else {
                      $(".password").attr("type", "password");
                    }
                  });
            });

            function getCurrentHostname() {
                $.ajax({
                    url: BEE_CUSTOM_API_BASEURL + "hostname",
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    success: function(data) {
                        $("#hostname-input").val(data.hostname);
                    }
                });
            }

            function getNetworkList() {

                $('#get-networks-button').button('loading');

                $.ajax({
                    url: BEE_CUSTOM_API_BASEURL + "wifi/list",
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    success: function(data) {
                        $("#networks-list option").remove();

                        // Appends a first empty option
                        $("#networks-list").append($("<option></option>"));
                        $.each(data.wifi_networks, function(index, item) {
                            $("#networks-list").append($("<option></option>").text(item).val(item));
                        });

                        $('#get-networks-button').button('reset');
                    }
                });
            }

            function connectNetwork() {

                var pass = $('#password-input').val();
                var network = $('#networks-list').val();

                var custom_ssid = $('#custom-network-input').val();

                var content = { 'network': network, 'password': pass, 'custom_ssid': custom_ssid };

                $('#connect-button').prop('disabled', true);
                $('#alert-connect').show();

                $.ajax({
                    url: BEE_CUSTOM_API_BASEURL + "netconfig/save",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify(content),
                    success: function(data) {

                    }
                });
            }

            function saveHostname() {

                var hostname = $('#hostname-input').val();

                var content = { 'hostname': hostname };

                $('#change-hostname-button').prop('disabled', true);
                $('#alert-hostname').show();

                $.ajax({
                    url: BEE_CUSTOM_API_BASEURL + "hostname/save",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify(content),
                    success: function(data) {

                    },
                    error: function(resp) {

                    }
                });
            }

        </script>
    </body>
</html>
