<h4>{{ _('Printer Profiles') }}</h4>

{% include "snippets/settings/printerprofiles/profiles.jinja2" %}

<button class="btn pull-right yellow" data-bind="click: function() { $root.printerProfiles.showEditProfileDialog(); }"><span class="m-icon addicon"></span> {{ _('Add Profile...') }}</button>

{% include "snippets/settings/printerprofiles/profileEditor.jinja2" %}
