<form class="form-horizontal">
    <h4>{{ _('Commands') }}</h4>

    {% include "snippets/settings/server/serverCommandServerRestart.jinja2" %}
    {% include "snippets/settings/server/serverCommandSystemRestart.jinja2" %}
    {% include "snippets/settings/server/serverCommandSystemShutdown.jinja2" %}
</form>
