<div class="row-fluid">
    <h3>{{ _('Calibration Wizard')}}</h3>
</div>

<div id="calibrationStep1">
    <div class="row-fluid">
        <div class="span8">
            <strong>{{ _('Step 1')}}: {{ _('Calibration - Table Height') }}</strong>
        </div>
        <div class="span4">
            <strong>{{ _('Table Fine Tuning')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/calibracao.png') }}" style="padding-top: 60px;" />
        </div>
        <div class="span4">
            <div class="row-fluid">
                <button id="upsmallstep-btn" title="Up 0.05" class="btn btn-primary btn-block yellow"
                   data-bind="click: upSmallStep, enable: printerState.isOperational() && !commandLock()
                   && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-chevron-up"></i> {{ _('0.05 millimeters')}}
                </button>
                <br />
                <button id="upbigstep-btn" title="Up 0.05" class="btn btn-primary btn-block yellow"
                   data-bind="click: upBigStep, enable: printerState.isOperational() && !commandLock()
                   && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-arrow-up"></i> {{ _('0.5 millimeters')}}
                </button>

                <br /><br />

                <button id="downbigstep-btn" title="Up 0.05" class="btn btn-primary btn-block yellow"
                   data-bind="click: downBigStep, enable: printerState.isOperational() && !commandLock()
                   && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-arrow-down"></i> {{ _('0.5 millimeters')}}
                </button>
                <br />
                <button id="downsmallstep-btn" title="Down 0.05" class="btn btn-primary btn-block yellow"
                   data-bind="click: downSmallStep, enable: printerState.isOperational() && !commandLock()
                   && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-chevron-down"></i> {{ _('0.05 millimeters')}}
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="row-fluid">
        <p>{{ _('Make sure the extruder nozzle is clean before this operation.' ) }}</p>
        <p>{{ _('Put a piece of paper on the table beneath the nozzle. Fine tune the table up or down.' ) }}</p>
        <p>{{ _('You have correctly calibrated the table once the paper is neither stuck nor completely loose.' ) }}</p>
    </div>
    <br />
    <div class="row-fluid">
        <span class="span12"><i class="icon-exclamation-sign"></i>
            <strong>{{ _('WARNING: If you have moved the table up too far against the nozzle, click "Cancel" and restart the operation.') }}</strong>
        </span>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span12">
            <button id="calib-next-step-3" title="Next Step" class="btn btn-primary pull-right yellow"
               data-bind="click: nextStepCalibration1, enable: printerState.isOperational() && !commandLock()
               && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                <i class="icon-arrow-right"></i> {{ _('Next Step')}}</button>
        </div>
    </div>
</div>


<div id="calibrationStep2" class="hidden">
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 2')}}: {{ _('Calibration - Table Level') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <img src="{{ url_for('static', filename='img/maintenance/cabeca_impressao1.png') }}" />
        </div>
        <div class="span2"></div>
    </div>
    <br />
    <div class="row-fluid">
        <span>{{ _('Put a piece of paper on the table beneath the nozzle.' ) }}</span>
        <span>{{ _('Fine tune the table up or down by rotating the left screw.' ) }}</span>
        <span>{{ _('You have correctly calibrated the table once the paper is neither stuck nor completely loose.' ) }}</span>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span12">
            <button id="calib-next-step-4" title="Next Step" class="btn btn-primary pull-right yellow"
               data-bind="click: nextStepCalibration2, enable: printerState.isOperational() && !commandLock()
               && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                <i class="icon-arrow-right"></i> {{ _('Next Step')}}</button>
        </div>
    </div>
</div>


<div id="calibrationStep3" class="hidden">
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 3')}}: {{ _('Calibration - Table Level') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <img src="{{ url_for('static', filename='img/maintenance/cabeca_impressao2.png') }}" />
        </div>
        <div class="span2"></div>
    </div>
    <br />
    <div class="row-fluid">
        <span>{{ _('Put a piece of paper on the table beneath the nozzle.' ) }}</span>
        <span>{{ _('Fine tune the table up or down by rotating the right screw.' ) }}</span>
        <span>{{ _('You have correctly calibrated the table once the paper is neither stuck nor completely loose.' ) }}</span>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span12">
            <button id="calib-next-step-5" title="Next Step" class="btn btn-primary pull-right yellow"
               data-bind="click: nextStepCalibration3, enable: printerState.isOperational() && !commandLock()
               && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                <i class="icon-arrow-right"></i> {{ _('Next Step')}}
            </button>
        </div>
    </div>
</div>

<div id="calibrationStep4" class="hidden">
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Final Step')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/etapa_final.png') }}" />
        </div>
        <div class="span2"></div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4 text-center">
            <button id="test-calibration-btn" title="Calibration Test" class="btn btn-primary yellow"
               data-bind="click: calibrationTestStep1, enable: printerState.isOperational() && !commandLock()
               && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                <i class="icon-cog"></i> {{ _('Calibration test')}}</button>
        </div>
        <div class="span4"></div>
    </div>
    <br />
    <div class="row-fluid">
        <span>{{ _('Click "Calibration test" if you want to make sure the table has been correctly calibrated.' ) }}</span>
        <span>{{ _('The extruder nozzle will move along the table.' ) }}</span>
    </div>
    <br />
    <div class="row-fluid">
        <p>{{ _('If you want to finish the calibration procedure without testing you can click "OK".' ) }}
        </p>
        <p><strong>{{ _('NOTE: Make sure you remove the piece of paper.' ) }}</strong>
        </p>
    </div>

</div>

<div id="calibrationTest1" class="hidden">
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Calibration Test')}}</strong>
        </div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span5"></div>
        <div class="span3 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/bico_extrusao.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <br /><br />
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span6">
            <span><strong>{{ _('PRINTING CALIBRATION TEST...PLEASE WAIT')}} <i class="icon-spinner icon-spin"></i></strong></span>
        </div>
        <div class="span2"></div>
    </div>
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <p>{{ _('The printer will heat up and run the calibration test. This process may take a few moments.')}}</p>
        </div>
        <div class="span2"></div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span5"></div>
        <div class="span2">
            <button id="cancel-calib-test" title="Cancel Calibration Test" class="btn btn-default"
               data-bind="click: cancelCalibrationTest, enable: printerState.isOperational() && !commandLock()
               && printerState.isReady() && loginState.isUser()">
                <i class="icon-stop"></i> {{ _('Cancel Test')}}
            </button>
        </div>
        <div class="span5"></div>
    </div>
</div>

<div id="calibrationTest2" class="hidden">
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Validate Calibration')}}</strong>
        </div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span4" style="text-align: center;">
            <img src="{{ url_for('static', filename='img/maintenance/validation1.png') }}" />
            <button id="calib-success" title="Finish Calibration" class="btn btn-primary green"
               data-bind="click: finishOperations, enable: printerState.isOperational() && !commandLock()
               && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                <i class="icon-ok-sign"></i> {{ _('Calibration successful')}}
            </button>
        </div>
        <div class="span1"></div>
        <div class="span1"></div>
        <div class="span4" style="text-align: center;">
            <img src="{{ url_for('static', filename='img/maintenance/validation2.png') }}" />
            <button id="calib-repeat" title="Repeat Calibration" class="btn btn-default yellow"
               data-bind="click: repeatCalibration, enable: printerState.isOperational() && !commandLock()
               && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                <i class="icon-refresh"></i> {{ _('Repeat calibration')}}
            </button>
        </div>
        <div class="span1"></div>
    </div>
    <br />
    <div class="row-fluid">
        <span>{{ _('Remove the table and validate your results.' ) }}</span>
        <span>{{ _('Compare the resulting pattern on the table to the pictures shown above.' ) }}</span>
        <span>{{ _('Choose the option corresponding to the one that looks most like your result.' ) }}</span>
        <span>{{ _('Before proceeding with either one, you must clean both the table and the extruder nozzle placing back the table at the end.' ) }}</span>
    </div>
</div>
