<button id="reset-change-filament" title="Restart Operation" class="btn btn-default pull-right hidden"
    data-bind="click: changeFilamentStep0">
    <i class="icon-refresh"></i> {{ _('Restart Operation')}}
</button>
<p>{{ _('This operation is needed when you want to calibrate the printer.')}}</p>
