<p>{{ _('This operation is needed when you want to print with a differente color or when the filament available is the spool is not enough.')}}</p>
<br />
<div class="row-fluid">
    <div class="span6">
        <strong>{{ _('Step 1')}}: {{ _('Extruder nozzle temperature') }}</strong>
    </div>
</div>
<div class="row-fluid">
    <div class="span4"></div>
    <div class="span4">
        <img src="{{ url_for('static', filename='img/maintenance/bico_extrusao.png') }}" />
    </div>
    <div class="span4"></div>
</div>
<div class="row-fluid">
    <p>{{ _('Extruder nozzle has to be heated whenever you change the filament. When it reaches the ideal temperature you may move to the next stage.' ) }}
    </p>
</div>
<br />
<div class="row-fluid">
    <p>{{ _('WARNING: NEVER TOUCH THE EXTRUDER NOZZLE WHEN THE PRINTER IS ON.') }}</p>
</div>
<br />
<div class="row-fluid">
    <div class="span6">
        <button id="start-heating-btn" title="Start Heating" class="btn btn-danger"
           data-bind="click: startHeating"> <!-- enable: printerState.isOperational() && printerState.isReady() && !printerState.isPrinting() && loginState.isUser() -->
            <i class="icon-exclamation-sign"></i> {{ _('Start Heating')}}</button>
        <button id ="cancel-heating-btn" title="Cancel" class="btn btn-default hidden"
           data-bind="click: cancelHeating" ><i class="icon-stop"></i> {{ _('Cancel')}}</button>
    </div>
</div>