<button id="reset-change-filament" title="Restart Operation" class="btn btn-default pull-right hidden"
    data-bind="click: changeFilamentStep0">
    <i class="icon-refresh"></i> {{ _('Restart Operation')}}
</button>
<p>{{ _('This operation is needed when you want to print with a differente color or when the filament available is the spool is not enough.')}}</p>
<br />
<div id="step1">
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 1')}}: {{ _('Extruder nozzle temperature') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/bico_extrusao.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <p>{{ _('Extruder nozzle has to be heated whenever you change the filament. When it reaches the ideal temperature you may move to the next stage.' ) }}
        </p>
    </div>
    <br />
    <div class="row-fluid">
        <p>{{ _('WARNING: NEVER TOUCH THE EXTRUDER NOZZLE WHEN THE PRINTER IS ON.') }}</p>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span6">
            <button id="start-heating-btn" title="Start Heating" class="btn btn-danger"
               data-bind="click: startHeating, enable: printerState.isOperational() && !operationLock()
               && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                <i class="icon-exclamation-sign"></i> {{ _('Start Heating')}}</button>
        </div>
    </div>
    <div id="progress-bar-div" class="row-fluid hidden">
        <span>{{ _('Heating, please wait...') }}</span>
        <div id="temperature_progress" class="progress" style="width: 100%;">
            <div class="bar" style="width: 0%"></div>
        </div>
        <button id ="cancel-heating-btn" title="Cancel" class="btn btn-default pull-right"
            data-bind="click: cancelHeating" ><i class="icon-stop"></i> {{ _('Cancel')}}</button>
    </div>
</div>
<div id="step2" class="hidden">
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/infografia-01.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 2')}}: {{ _('Filament Unload/Load') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p><strong>{{ _('Make sure the filament is correctly unloaded before proceeding.' ) }}</strong></p>
        <br />
        <p>{{ _('Push the Unload button and wait for instructions.' ) }}
        </p>
    </div>
    <div class="row-fluid">
        <button id="unload-btn" title="Unload" class="btn btn-warning"
            data-bind="click: unloadFilament, enable: printerState.isOperational()
            && printerState.isReady() && !operationLock()
            && !printerState.isPrinting() && loginState.isUser()">
            <i class="icon-arrow-down"></i> {{ _('Unload')}}
        </button>
    </div>

    <div class="row-fluid">
        <br />
        <p>{{ _('Push the Load button if the filament is already unloaded and you are ready to load a new one.' ) }}</p>
    </div>
    <div class="row-fluid">
        <button id="load-btn" title="Load" class="btn btn-success"
            data-bind="click: loadFilament, enable: printerState.isOperational()
            && printerState.isReady() && !operationLock()
            && !printerState.isPrinting() && loginState.isUser()">
            <i class="icon-arrow-up"></i> {{ _('Load')}}
        </button>
    </div>
</div>

<div id="step3" class="hidden">
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/rsz_unload-01.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 3')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p><strong>{{ _('Make sure the filament is correctly unloaded before proceeding.' ) }}</strong>
        </p>

        <p>{{ _('Gently pull as filament unloads.' ) }}
        </p>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/retirar_filamento-04.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <p>{{ _('You many now remove the spool. Cut the tip and store the spool in a cold dry place. If the filament is not loose, press the Unload button again.' ) }}
        </p>
    </div>
    <div class="row-fluid">
        <button id="unload-btn-3" title="Unload" class="btn btn-warning"
            data-bind="click: unloadFilament, enable: printerState.isOperational() && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
            <i class="icon-arrow-down"></i> {{ _('Unload')}}
        </button>
        <button id="next-step-3" title="Next Step" class="btn btn-default"
            data-bind="click: nextStep3, enable: printerState.isOperational() && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
            <i class="icon-arrow-right"></i> {{ _('Next Step')}}
        </button>
    </div>
</div>

<div id="step4" class="hidden">
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/infografia-01.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 4')}}: {{ _('Filament Load') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p><strong>{{ _('Make sure the filament is correctly unloaded before proceeding.' ) }}</strong>
        </p>

        <p>{{ _('Push the Load button and gently push the new filament in.' ) }}
        </p>
    </div>
    <div class="row-fluid">
        <button id="load-btn-4" title="Load" class="btn btn-success"
            data-bind="click: loadFilament, enable: printerState.isOperational() && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
            <i class="icon-arrow-up"></i> {{ _('Load')}}
        </button>
        <button id="next-step-4" title="Next Step" class="btn btn-default"
            data-bind="click: nextStep4, enable: printerState.isOperational() && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
            <i class="icon-arrow-right"></i> {{ _('Next Step')}}
        </button>
    </div>
</div>

<div id="step5" class="hidden">
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/troca_filamento.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Final Step')}}: {{ _('Select Filament Code') }}</strong>
        </div>
    </div>
    <br />
    <form class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <select data-bind="options: filamentProfiles, optionsText: 'name', optionsValue: 'key', value: selectedFilament, optionsCaption: '{{ _('Select filament type...') }}'"></select>

                <button id="submit-filament" title="Save Filament" class="btn btn-primary"
                data-bind="click: saveFilament, enable: printerState.isOperational() && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-hdd"></i> {{ _('Save')}}
                </button>
            </div>
        </div>
        <div class="alert alert-success text-center" data-bind="visible: filamentResponse">
             <span><i class="icon-ok"></i> {{ _('The filament code was saved. The operation is now finished!')}}</span>
        </div>
        <div class="alert alert-danger text-center" data-bind="visible: filamentResponseError">
             <span><i class="icon-exclamation-sign"></i> {{ _('An error occurred while saving the information. Please try again.')}}</span>
        </div>
    </form>
</div>
