<div class="row-fluid">
    <h3>{{ _('Filament Wizard')}}</h3>
</div>

<div id="step1" >

    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/troca_filamento.png') }}" />
        </div>
        <div class="span3"></div>
    </div>
    <br />

    <div class="row-fluid">
        <div class="span12">
            <strong>{{ _('Step 1')}}: {{ _('Select type') }}</strong>
            <br />
            <div class="row-fluid">
                <p>{{ _('Please select the correct code for the filament. You can find that code on the spool, (e.g: A101 - Transparent).') }}
                </p>
                <p>{{ _('The available filament to be selected depends on the nozzle installed in the printer.') }}
                </p>
            </div>
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="row-fluid">
                        <select data-bind="options: filamentProfiles, value: selectedFilament, optionsCaption: '{{ _('Select filament type...') }}'"></select>

                        <button id="submit-filament" title="Save Filament" class="btn btn-primary pull-right"
                        data-bind="click: saveFilament, enable: printerState.isOperational() && !commandLock()
                        && printerState.isReady() && !printerState.isPrinting() && loginState.isUser() && selectedFilament">
                            <i class="icon-arrow-right"></i> {{ _('Next')}}
                        </button>
                    </div>
                </div>

                <div class="alert alert-danger text-center" data-bind="visible: filamentResponseError">
                     <span><i class="icon-exclamation-sign"></i> {{ _('An error occurred while saving. Please make sure a filament code is selected and try again.')}}</span>
                </div>
            </form>
        </div>
    </div>

</div>

<div id="step2" class="hidden">

    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 2')}}: {{ _('Extruder nozzle temperature') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/bico_extrusao.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <p>{{ _('Extruder nozzle has to be heated whenever you change the filament. When it reaches the ideal temperature you may move to the next stage.' ) }}
        </p>
    </div>
    <div id="progress-bar-div" class="row-fluid hidden">
        <span><strong>{{ _('Heating, please wait...') }}</strong></span><br />
        <div id="temperature_progress" class="progress" style="width: 100%;">
            <div class="bar" style="width: 0%"></div>
        </div>
    </div>

    <br /><br /><br />
    <div class="row-fluid text-center">
        <span class="span12"><i class="icon-exclamation-sign"></i>
            <strong>{{ _('WARNING: NEVER TOUCH THE EXTRUDER NOZZLE WHEN THE PRINTER IS ON.') }}</strong>
        </span>
    </div>
    <br />

</div>

<div id="step3" class="hidden">
    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/infografia-01.png') }}" />
            <img src="{{ url_for('static', filename='img/maintenance/rsz_unload-01.png') }}" class="hidden"/>
        </div>
        <div class="span3">
            <div class="row-fluid">
                <button id="load-btn" title="Load" class="btn btn-primary btn-block"
                    data-bind="click: loadFilament, enable: printerState.isOperational()
                    && printerState.isReady() && !commandLock()
                    && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-arrow-up"></i> {{ _('Load')}}
                </button>
            </div>
            <br /><br />

            <div class="row-fluid">
                <button id="unload-btn" title="Unload" class="btn btn-primary btn-block"
                    data-bind="click: unloadFilament, enable: printerState.isOperational()
                    && printerState.isReady() && !commandLock()
                    && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-arrow-down"></i> {{ _('Unload') }}
                </button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 3')}}: {{ _('Filament Unload/Load') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p><strong>{{ _('Make sure the filament is correctly unloaded before proceeding' ) }}</strong></p>
        <br />
        <p>{{ _('To unload the filament, push the Unload button and pull the filament steadily. To load the filament insert it in the inlet hole and push it until it reaches the end. Then click on the Load button, and push the filament a little more until the printer pulls it and extrudes a little filament.') }}
        </p>
    </div>
    <hr />
    <div class="row-fluid">
        <strong>{{ _('Filament left in spool' ) }}:</strong>
        <span data-bind="text: filamentInSpool"></span> (g)
        <br /><br />
        <span>
            <i class="icon-exclamation-sign"></i>
            <small>{{ _('Please take note of the amount of filament in spool, so you can re-use the spool later on.' ) }}</small>
        </span>
    </div>
    <hr />
    <div class="row-fluid">
        <form class="form-horizontal">
            <div class="control-group">
            <strong>{{ _('Spool filament weight (g)' ) }}:</strong>
                <input type="number" data-bind="value: filamentWeightInput"></input>
                <button id="submit-filament-weight" title="Save Filament Weight" class="btn btn-primary"
                    data-bind="click: saveFilamentWeight, enable: printerState.isOperational() && !commandLock()
                    && printerState.isReady() && !printerState.isPrinting() && loginState.isUser() && filamentWeightInput">
                    <i class="icon-save"></i> {{ _('Save')}}
                </button>
                <span data-bind="visible: filamentWeightSaveSuccess"><i class="icon-check alert-success"></i>
                </span>

                <br />
                <small>{{ _('Please insert the filament weight in the spool if you wish to be warned if there is not enough filament left for the print job' ) }}</small>
            </div>
        </form>
        <div class="alert alert-danger text-center" data-bind="visible: filamentWeightResponseError">
            <span><i class="icon-exclamation-sign"></i>
            {{ _('An error occurred while saving. Please make sure the input value is valid weight in grams.')}}
            </span>
        </div>

    </div>
</div>

