<div class="row-fluid">
    <h3>{{ _('Extruder Maintenance Wizard')}}</h3>
</div>

<div id="extMaintStep1">

    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 1')}}: {{ _('Extruder heating for filament removal') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/bico_extrusao.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <p>
            {{ _('This operations allows you to clean the extruder.') }}
            {{ _('Please use the tools available in your maintenance kit and make sure you have read the instructional material before continuing.' ) }}
        </p>
    </div>
    <br /><br />
    <div class="row-fluid text-center">
        <span class="span12"><i class="icon-exclamation-sign"></i>
            <strong>{{ _('WARNING: NEVER TOUCH THE EXTRUDER NOZZLE WHEN THE PRINTER IS ON.') }}</strong>
        </span>
    </div>
    <br />
    <div class="row-fluid">
        <button id="ext-mtn-2" title="Next Step" class="btn btn-primary pull-right"
            data-bind="click: nextStepExtMaint1, enable: printerState.isOperational() && !commandLock()
            && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
            <i class="icon-arrow-right"></i> {{ _('Next Step')}}
        </button>
    </div>
</div>

<div id="extMaintStep2" class="hidden">
    <div class="row-fluid text-center">
        <span class="span12"><i class="icon-exclamation-sign"></i>
            <strong>{{ _('WARNING: NEVER TOUCH THE EXTRUDER NOZZLE WHEN THE PRINTER IS ON.') }}</strong>
        </span>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 2')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p>
            {{ _('Use a hex key to remove the screws on the top cover of your 3D printer.' ) }}
            {{ _('Remove the cover by gently pulling upwards.' ) }}
            <strong>{{ _('Make sure to place the screws in a secure location.' ) }}</strong>
        </p>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/remove_cover.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <br />
    <button id="ext-mtn-3" title="Next Step" class="btn btn-primary pull-right"
        data-bind="click: nextStepExtMaint2, enable: printerState.isOperational() && !commandLock()
        && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
        <i class="icon-arrow-right"></i> {{ _('Next Step')}}
    </button>
</div>
<div id="extMaintStep3" class="hidden">
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 3')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p>
            {{ _('Using the same tool as before, remove the screw that attaches the cover plate to your 3D printer.' ) }}
            {{ _('Afterwards slide the cover plate in the direction indicated OPEN.' ) }}
        </p>
        <p>
            <strong>{{ _('Remember to put the screws in a safe location.' ) }}</strong>
        </p>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/remove_lid_sized.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <br /><br />
    <div id="progress-bar-ext-mtn" class="row-fluid hidden">
        <span>{{ _('Your 3D printer must finish heating before continuing this operation. Please wait...') }}</span>
        <div id="temperature-progress-ext-mtn" class="progress" style="width: 100%;">
            <div class="bar" style="width: 0%"></div>
        </div>
    </div>
    <br />
    <button id="ext-mtn-4" title="Next Step" class="btn btn-primary pull-right hidden"
        data-bind="click: nextStepExtMaint3, enable: printerState.isOperational() && !commandLock()
        && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
        <i class="icon-arrow-right"></i> {{ _('Next Step')}}
    </button>
    <br /><br />
</div>


<div id="extMaintStep4" class="hidden">
    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span7 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/clean_nozzle_sized.png') }}" />
        </div>
        <div class="span2">
            <div class="row-fluid">
                <button id="load-ext-mtn" title="Load" class="btn btn-primary span12"
                    data-bind="click: loadFilament, enable: printerState.isOperational()
                    && printerState.isReady() && !commandLock()
                    && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-arrow-up"></i> {{ _('Load')}}
                </button>
            </div>
            <br />
            <div class="row-fluid">
                <button id="unload-ext-mtn" title="Unload" class="btn btn-primary span12"
                    data-bind="click: unloadFilament, enable: printerState.isOperational()
                    && printerState.isReady() && !commandLock()
                    && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-arrow-down"></i> {{ _('Unload')}}
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 4')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p>
            <span>{{ _('Make sure to unload any filament still loaded in your 3D printer.' ) }}</span>
            <span>{{ _('Apply the cleaning tool to remove any leftover material that might have lodged inside the extruder.' ) }}</span>
        </p>
        <p>
            <span>{{ _('After cleaning the extruder, press load and make sure the filament is extruding normally.' ) }}</span>
        </p>
    </div>
    <br />
    <button id="back-ext-mtn-3" title="Next Step" class="btn btn-primary pull-left"
        data-bind="click: nextStepExtMaint2, enable: printerState.isOperational() && !commandLock()
        && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
        <i class="icon-arrow-left"></i> {{ _('Back')}}
    </button>
</div>

