<button id="reset-extruder-maint" title="Restart Operation" class="btn btn-default pull-right hidden"
    data-bind="click: extMaintStep0">
    <i class="icon-refresh"></i> {{ _('Restart Operation')}}
</button>

<div id="extMaintStep1">
    <div class="row-fluid">
        <span class="span12 alert alert-info">
            <i class="icon-question-sign"></i> {{ _('This operation allows you to clean the extruder.')}}
        </span>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 1')}}: {{ _('Extruder heating for filament removal') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <img src="{{ url_for('static', filename='img/maintenance/bico_extrusao.png') }}" />
        </div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <p><strong>{{ _('Please use the tools available in your maintenance kit and make sure you have read the instructional material before continuing.' ) }}
            </strong>
        </p>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span6">
            <button id="start-heating-ext-mtn" title="Start Heating" class="btn btn-danger"
               data-bind="click: startHeatingExtMaint, enable: printerState.isOperational() && !operationLock()
               && printerState.isReady() && !printerState.isPrinting() && loginState.isUser()">
                <i class="icon-fire"></i> {{ _('Start Heating')}}</button>
        </div>
    </div>
</div>

<br />
<div class="row-fluid">
    <span class="span12 alert alert-danger"><i class="icon-exclamation-sign"></i>
        {{ _('WARNING: NEVER TOUCH THE EXTRUDER NOZZLE WHEN THE PRINTER IS ON.') }}
    </span>
</div>


<div id="extMaintStep2" class="hidden">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <img src="{{ url_for('static', filename='img/maintenance/remove_cover.png') }}" />
        </div>
        <div class="span2"></div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 2')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p>
            <strong>{{ _('Use a hex key to remove the screws on the top cover of your 3D printer.' ) }}</strong>
            <strong>{{ _('Remove the cover by gently pulling upwards.' ) }}</strong>
            <strong>{{ _('Make sure to place the screws in a secure location.' ) }}</strong>
        </p>
    </div>
    <br />


    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <img src="{{ url_for('static', filename='img/maintenance/remove_lid_sized.png') }}" />
        </div>
        <div class="span2"></div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 3')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p>
            <strong>{{ _('Using the same tool as before, remove the screw that attaches the cover plate to your 3D printer.' ) }}</strong>
            <strong>{{ _('Afterwards slide the cover plate in the direction indicated OPEN.' ) }}</strong>
        </p>
        <p>
            <strong>{{ _('Remember to put the screws in a safe location.' ) }}</strong>
        </p>
    </div>
    <br />
</div>

<br />
<div id="progress-bar-ext-mtn" class="row-fluid hidden">
    <span>{{ _('Heating, please wait...') }}</span>
    <div id="temperature-progress-ext-mtn" class="progress" style="width: 100%;">
        <div class="bar" style="width: 0%"></div>
    </div>
    <button id ="cancel-heating-ext-mtn" title="Cancel" class="btn btn-default pull-right"
        data-bind="click: cancelHeatingExtMaint" ><i class="icon-stop"></i> {{ _('Cancel')}}</button>
</div>


