<button id="reset-extruder-maint" title="Restart Operation" class="btn btn-default pull-right hidden"
    data-bind="click: extruderMaintStep0">
    <i class="icon-refresh"></i> {{ _('Restart Operation')}}
</button>
