<div class="row-fluid">
    <h3>{{ _('Extruder Switch Wizard')}}</h3>
</div>

<div id="replaceNozzleStep1">
    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/troca_filamento.png') }}" />
        </div>
        <div class="span3"></div>
    </div>
    <br />

    <div class="row-fluid">
        <div class="span12">
            <strong>{{ _('Step 1')}}: {{ _('Select nozzle') }}</strong>
            <br />
            <div class="row-fluid">
                <p>{{ _('Please select the nozzle size that is about to be installed.') }}
                </p>
                <p>{{ _('Notice that some filaments may not work with some nozzle sizes and so they will not be able to be selected on the Change Filament operation.') }}
                </p>
            </div>
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="row-fluid">
                        <select data-bind="options: nozzleSizes, optionsText: 'name', optionsValue: 'key', value: selectedNozzle, optionsCaption: '{{ _('Select nozzle size...') }}'"></select>

                        <button id="submit-nozzle" title="Save Nozzle" class="btn btn-primary pull-right"
                        data-bind="click: saveNozzle, enable: printerState.isOperational() && !commandLock()
                        && printerState.isReady() && !printerState.isPrinting() && loginState.isUser() && selectedNozzle">
                            <i class="icon-arrow-right"></i> {{ _('Next')}}
                        </button>
                    </div>
                </div>

                <div class="alert alert-danger text-center" data-bind="visible: saveNozzleResponseError">
                     <span><i class="icon-exclamation-sign"></i> {{ _('An error occurred while saving. Please make sure a nozzle size is selected and try again.')}}</span>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="replaceNozzleStep2" class="hidden">
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 2')}}: {{ _('Extruder nozzle temperature') }}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/bico_extrusao.png') }}" />
        </div>
        <div class="span4"></div>
    </div>

    <div id="progress-bar-replace-nozzle" class="row-fluid hidden">

        <div id="temperature-progress-replace-nozzle" class="progress" style="width: 100%;">
            <div class="bar" style="width: 0%"></div>
        </div>
    </div>
    <div class="row-fluid">
        <p>{{ _('Your 3D printer must finish heating before continuing this operation.') }}</p>
        <p>{{ _('The extruder if fully hot when the status bar show is full. Leave the printer for a short while to allow any PLA inside to melt.' ) }}
        </p>
    </div>
    <br /><br /><br />
    <div class="row-fluid text-center">
        <span class="span12"><i class="icon-exclamation-sign"></i>
            <strong>{{ _('WARNING: NEVER TOUCH THE EXTRUDER NOZZLE WHEN THE PRINTER IS ON.') }}</strong>
        </span>
    </div>
</div>

<div id="replaceNozzleStep3" class="hidden">
    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6 text-center">
            <img src="{{ url_for('static', filename='img/maintenance/switch_nozzle_sized.png') }}" />
        </div>
        <div class="span3">
            <div class="row-fluid">
                <button id="load-ext-mtn" title="Load" class="btn btn-primary span12"
                    data-bind="click: loadFilament, enable: printerState.isOperational()
                    && printerState.isReady() && !commandLock()
                    && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-arrow-up"></i> {{ _('Load')}}
                </button>
            </div>
            <br />
            <div class="row-fluid">
                <button id="unload-ext-mtn" title="Unload" class="btn btn-primary span12"
                    data-bind="click: unloadFilament, enable: printerState.isOperational()
                    && printerState.isReady() && !commandLock()
                    && !printerState.isPrinting() && loginState.isUser()">
                    <i class="icon-arrow-down"></i> {{ _('Unload')}}
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span6">
            <strong>{{ _('Step 3')}}</strong>
        </div>
    </div>
    <div class="row-fluid">
        <p>
            <span>{{ _('Use the nozzle tool to unscrew the nozzle and place it on a heat-resistant surface until it has cooled down.' ) }}</span>
        </p>
        <p>
            <span>{{ _('Screw in the new nozzle, stop tightening as soon as you feel hard resistance.' ) }}</span>
            <span>{{ _('You can now load some fresh filament and see the result of the new extruder.' ) }}</span>
            <span>{{ _('The filament will be thick and even.' ) }}</span>
        </p>
    </div>
    <br /><br /><br />
    <div class="row-fluid text-center">
        <span class="span12"><i class="icon-exclamation-sign"></i>
            <strong>{{ _('WARNING: BE CAREFUL NOT TO TOUCH THE HOT EXTRUDER.') }}</strong>
        </span>
    </div>
    <br />
</div>
