<a id="state-header-link" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#state">
    <span class="status-ball" data-bind="css: stateClass"></span>
    <strong data-bind="text: stateString, css: stateClass" class="printer-status"></strong>
</a>
<a id="printer-name-link" href="#">
    <span data-bind="text: printerName " />
</a>
