<div id="pause_panel" data-bind="visible: showPrintControlButtons()">
    <div id="shutdown_panel" data-bind="visible: showShutdownAndChangeFilament()">
        <button id="job_shutdown" class="btn-ghost" data-bind="click: shutdown" >
            <span class="m-icon shutdowngicon"></span>
            <span >{{ _('Save & Shutdown') }}</span>
        </button>
    </div>
    <div id="shutdown_confirmation" class="text-center" data-bind="visible: isShutdown()">
        <span class="white-label-message">
            <i class="icon-warning-sign"></i>
            {{ _('You can power off your printer. Alternatively you can resume or cancel your print.') }}
        </span>
    </div>
    <div id="shutdown_panel_change_filament" data-bind="visible: loginState.isUser && isPaused()">
        <a href="#maintenance_dialog" data-bind="click: showMaintenanceFilamentChange" class="btn-ghost" >
            <span class="m-icon maintenancegicon"></span>
            {{ _('Change filament now') }}
        </a>
    </div>
</div>
<div id="insufficientFilamentMessage" data-bind="visible: showInsufficientFilament">
    <a href="#maintenance_dialog" data-bind="click: showMaintenanceFilamentChange" class="btn-ghost" >
        <span class="m-icon maintenancegicon"></span>
        {{ _('Change filament now') }}
    </a>
    <br />
    <span class="bee-alert">
        {{ _('The estimated amount of filament in the spool is not enough to complete the print job!') }}
        <br/>
        {{ _(' Change filament or proceed at your own risk.') }}
    </span>
</div>

<div id="selecteFileInfo" class="print-control" data-bind="visible: isSelectedFile">
    <div class="span12">
        <span class="loaded-file">{{ _('Loaded File') }}:</span>
        <a id="showPrintDetails" href="#"><span id="loadedFilename" class="white-label-message" data-bind="text: filename"></span>&nbsp;</a>
        <strong data-bind="visible: sd">(SD)</strong><br />
    </div>
</div>

<div id="printRunningButtons" data-bind="visible: showPrintControlButtons()">
    <button class="btn btn-pause" id="job_pause" data-bind="click: function() { isPaused() || isShutdown() ? onlyResume() : onlyPause(); },
        visible: enablePause, enable: enablePause, css: {active: (isPaused() && isShutdown())}, attr: {title: titlePauseButton}">
        <i data-bind="css: {'icon-pause': (!isPaused() && !isShutdown()), 'icon-play': (isPaused() || isShutdown())}"></i>
        <span data-bind="visible: isPrinting() && !isShutdown()"> {{ _('Pause') }}</span>
        <span data-bind="visible: isPaused() || isShutdown()"> {{ _('Resume') }}</span>
    </button>
    <button class="btn btn-stop" id="job_cancel" data-bind="click: cancel, enable: enableCancel"
        title="{{ _('Cancel') }}" data-toggle="tooltip">
        <i class="icon-stop"></i>
    </button>
    <div class="progress">
        <div class="bar" id="job_progressBar" data-bind="style: { width: progressString() + '%' }"></div>
    </div>
    <div class="text-center"><span class="progress-time" data-bind="text: printTimeString"></span></div>
</div>

<div id="noFilamentAvailableButtons" data-bind="visible: showInsufficientFilament">
    <button id="job_print" class="btn btn-primary btn-print"
    data-bind="click: print, css: {'btn-info': isPaused()}, attr: {title: titlePrintButton},
     visible: enablePrint() && (!isPaused() && !isShutdown())" >
        <span data-bind="css: {'m-icon printwicon': !isPaused(), 'icon-undo': isPaused()}"></span>
        <span data-bind="text: (isPaused() ? '{{ _('Restart') }}' : '{{ _('Print') }}')">{{ _('Print') }}</span>
    </button>

    <button class="btn btn-cancel" id="job_cancel_insufficient_filament" data-bind="click: cancel, visible: enableCancel"
        title="{{ _('Cancel') }}" data-toggle="tooltip">
        {{ _('Cancel') }}
    </button>
</div>

<div id="preparePrint" data-bind="visible: enablePreparePrint()">
    <span>{{ _('Press PRINT... to print the object(s) on the platform') }}</span>
    <br /><br />
    <button class="btn-prepareprint" id="print_scene"
        data-bind="click: preparePrint, enable: enablePreparePrint()">
        <span class="m-icon printwicon" ></span>
        {{ _('Print...') }}
    </button>
</div>

<div id="printFromMemoryDiv" class="hidden">
    <span class="white-label-message">{{ _('Your') }}</span><strong>
    <span class="white-label-message" data-bind="text: printerName " /></strong>
    <span class="white-label-message">{{ _('has a file in its internal memory.') }}</span>
    <p>{{ _('It corresponds to the last file that was printed. Press the button below to print it.') }}</p>
    <button class="btn btn-print-from-memory" id="print_from_memory"
        data-bind="click: printFromMemory, enable: enablePrintFromMemory()">
        {{ _('Print from internal memory') }}
    </button>
</div>
<div id="noPrinterConnected" data-bind="visible: noPrinterDetected()">
    <span>{{ _('No printer detected. Please turn on and connect your USB printer to PRINT!') }}</span>
</div>

<div id="fileInfoModal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 data-bind="text: filename"></h3>
    </div>
    <div class="modal-body">
        <div id="printDetails">
            <div>
                <div >
                    {{ _('Approx. Print Time') }}: <strong data-bind="text: estimatedPrintTimeString"></strong><br>
                    {{ _('Approx. Time Left') }}: <strong data-bind="text: printTimeLeftString"></strong><br>
                </div>
                <div >
                    {{ _('Print Time') }}: <strong data-bind="text: printTimeString"></strong><br>
                    {{ _('Printed') }}: <strong data-bind="text: byteString"></strong><br>
                </div>
            </div>
            <br />
            <div>
                <div >
                    <!-- ko foreach: filament -->
                    <span data-bind="text: 'Filament: '"></span><strong data-bind="text: formatFilament(data())"></strong>
                    <!-- /ko -->
                </div>
                <div >
                    {{ _('Timelapse') }}: <strong data-bind="text: timelapseString"></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
    </div>
</div>

<script>
    $( document ).ready(function () {
        $('#showPrintDetails').click(function(event) {
            event.preventDefault();
            $('#fileInfoModal').modal("show");
        })
    });
</script>
