<div id="pause_panel" data-bind="visible: loginState.isUser && (isPaused() || isShutdown())">
    <div id="shutdown_panel" data-bind="visible: !isShutdown()">
        <button id="job_shutdown" class="btn-ghost" data-bind="click: shutdown" >
            <i class="icon-off"></i>
            <span >{{ _('Save & shutdown') }}</span>
        </button>
    </div>
    <div id="shutdown_confirmation" class="text-center" data-bind="visible: isShutdown()">
        <span >
            <strong>
                <i class="icon-warning-sign"></i>
                {{ _('You can power off your printer. Alternatively you can resume or cancel your print.') }}
            </strong>
        </span>
    </div>
    <div id="shutdown_panel_change_filament">
        <a href="#maintenance_dialog" data-bind="click: showMaintenanceFilamentChange" class="btn-ghost" >
            <i class="icon-wrench"></i>
            {{ _('Change filament now') }}
        </a>
    </div>
</div>
<div id="insufficient_filament"
    data-bind="visible: loginState.isUser && insufficientFilament() && !ignoredInsufficientFilament()">
    <a href="#maintenance_dialog" data-bind="click: showMaintenanceFilamentChange" class="btn-ghost" >
        <span class="m-icon maintenanceiconw"></span>
        {{ _('Change filament now') }}
    </a>
    <br />
    <span class="bee-alert">
        {{ _('The estimated amount of filament in the spool is not enough to complete the print job!') }}
        <br/>
        {{ _(' Change filament or proceed at your own risk.') }}
    </span>
</div>
<div class="print-control" style="display: none;" data-bind="visible: loginState.isUser">
    <div class="span12">
        <span class="loaded-file">LOADED FILE :</span><strong data-bind="text: filename"></strong>&nbsp;<strong data-bind="visible: sd">(SD)</strong><br>
    </div>
</div>
<div>
    <button id="job_print" class="btn btn-primary btn-print"
    data-bind="click: print, visible: enablePrint() && (!isPaused() && !isShutdown()), css: {'btn-info': isPaused()}, attr: {title: titlePrintButton}" >
        <i data-bind="css: {'icon-print': !isPaused(), 'icon-undo': isPaused()}"></i>
        <span data-bind="text: (isPaused() ? '{{ _('Restart') }}' : '{{ _('Print') }}')">{{ _('Print') }}</span>
    </button>
    <div id="pause_filler" class="btn-pause">
        <button class="btn btn-block "
        id="job_pause" data-bind="click: function() { isPaused() ? onlyResume() : onlyPause(); },
        visible: enablePause, css: {active: (isPaused() && isShutdown())}, attr: {title: titlePauseButton}">
        <i data-bind="css: {'icon-pause': (!isPaused() && !isShutdown()), 'icon-play': (isPaused() || isShutdown())}"></i>
        <span data-bind="visible: !isPaused() && !isShutdown()"></span>
        <span data-bind="visible: isPaused() || isShutdown()"></span>
    </button>
    </div>
    <button class="btn btn-delete btn-cancel" id="job_cancel" data-bind="click: cancel, visible: enableCancel()"
        title="{{ _('Cancel') }}" data-toggle="tooltip">
        <i class="icon-stop"></i>
    </button>
</div>
<div id="printDetails" style="display: none;">
    <div>
        <div class="span6">
            {{ _('Approx. Total Print Time') }}: <strong data-bind="text: estimatedPrintTimeString"></strong><br>
            {{ _('Approx. Time Left') }}: <strong data-bind="text: printTimeLeftString"></strong><br>
        </div>
        <div class="span6">
            {{ _('Print Time') }}: <strong data-bind="text: printTimeString"></strong><br>
            {{ _('Printed') }}: <strong data-bind="text: byteString"></strong><br>
        </div>
    </div>
    <br />
    <div>
        <div class="span6">
            <!-- ko foreach: filament -->
            <span data-bind="text: 'Filament (' + name() + '): '"></span><strong data-bind="text: formatFilament(data())"></strong>
            <!-- /ko -->
        </div>
        <div class="span6">
            {{ _('Timelapse') }}: <strong data-bind="text: timelapseString"></strong>
        </div>
    </div>
</div>
<a id="showPrintDetails" href="#">
    <div class="progress">
        <div class="bar" id="job_progressBar" data-bind="style: { width: progressString() + '%' }"></div>
    </div>
</a>


<script>
    $( document ).ready(function () {
        $('#showPrintDetails').click(function(event) {
            event.preventDefault();
            $('#printDetails').slideToggle();
        })
    });
</script>
