<div id="workbench-controls-container" >

    <button id="btn-move" class="btn btn-default btn-block model-selection" onclick="BEEwb.transformOps.activateMove();" disabled="true">
        <i class="icon-exchange" ></i>
        <span>{{ _('Move') }}</span>
    </button>
    <br />
    <div id="axis-values">
        <div id="move-axis-form" class="row-fluid form-inline">
            <span><strong>{{ _('Position') }}</strong></span><br /><br />

            <input type="text" class="span9 axis-input-box" id="x-axis" name="x-axis" onchange="BEEwb.transformOps.move();"/>
            <label class="span3" for="x-axis">X (mm) </label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="y-axis" name="y-axis" onchange="BEEwb.transformOps.move();"/>
            <label class="span3" for="y-axis">Y (mm) </label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="z-axis" name="z-axis" onchange="BEEwb.transformOps.move();"/>
            <label class="span3" for="z-axis">Z (mm) </label>
            <br />
            <hr />
        </div>
    </div>

    <button id="btn-scale" class="btn btn-default btn-block model-selection" onclick="BEEwb.transformOps.activateScale();" disabled="true">
        <i class="icon-crop" ></i>
        <span>{{ _('Scale') }}</span>
    </button>
    <br />
    <div id="scale-values-form" style="display: none;">
        <span><strong>{{ _('Object Dimensions') }}</strong></span><br /><br />
        <div id="scale-axis-form" class="row-fluid form-inline">
            <input type="text" class="span9 axis-input-box" id="scalex-axis" name="x-axis" onchange="BEEwb.transformOps.scale();"/>
            <label class="span3" for="scalex-axis">X (mm)</label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="scaley-axis" name="y-axis" onchange="BEEwb.transformOps.scale();"/>
            <label class="span3" for="scaley-axis">Y (mm)</label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="scalez-axis" name="z-axis" onchange="BEEwb.transformOps.scale();"/>
            <label class="span3" for="scalez-axis">Z (mm)</label>
            <br /><br />
            <button id="btn-scale-max" class="btn btn-warning btn-block model-selection" onclick="BEEwb.transformOps.scaleToMax();" disabled="true">
                <i class="icon-crop" ></i>
                <span>{{ _('Scale to Max') }}</span>
            </button>
            <hr />
        </div>
    </div>
    <button id="btn-rotate" class="btn btn-default btn-block model-selection" onclick="BEEwb.transformOps.activateRotate();" disabled="true">
        <i class="icon-refresh" ></i>
        <span>{{ _('Rotate') }}</span>
    </button>
    <hr />
    <button class="btn btn-block model-selection" id="center_selection"
            data-bind="" disabled="true" onclick="BEEwb.transformOps.centerModel();">
        <i class="icon-bullseye" ></i>
        {{ _('Center model') }}
    </button>
    <br />
    <button class="btn btn-block model-selection" id="reset_selection"
            data-bind="" disabled="true" onclick="BEEwb.transformOps.resetSelectedModel();">
        <i class="icon-reply-all" ></i>
        {{ _('Reset model') }}
    </button>
    <br />
    <button class="btn btn-block btn-danger model-selection" id="delete_selection"
            data-bind="" disabled="true" onclick="BEEwb.transformOps.removeSelected();">
        <i class="icon-trash" ></i>
        {{ _('Delete') }}
    </button>
</div>
