<div id="workbench-controls-container" >

    <button id="btn-move" class="btn btn-default btn-block model-selection" onclick="BEEwb.transformOps.activateMove();" disabled="true">
        <i class="icon-exchange" ></i>
        <span>{{ _('Move') }}</span>
    </button>
    <br />
    <div id="axis-values">
        <div id="move-axis-form" class="row-fluid form-inline">
            <span><strong>{{ _('Position') }}</strong></span><br /><br />

            <input type="text" class="span9 axis-input-box" id="x-axis" name="x-axis" onchange="BEEwb.transformOps.move();"/>
            <label class="span3" for="x-axis">X (mm) </label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="y-axis" name="y-axis" onchange="BEEwb.transformOps.move();"/>
            <label class="span3" for="y-axis">Y (mm) </label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="z-axis" name="z-axis" onchange="BEEwb.transformOps.move();"/>
            <label class="span3" for="z-axis">Z (mm) </label>
            <br />
            <hr />
        </div>
    </div>

    <button id="btn-scale" class="btn btn-default btn-block model-selection" onclick="BEEwb.transformOps.activateScale();" disabled="true">
        <i class="icon-crop" ></i>
        <span>{{ _('Scale') }}</span>
    </button>
    <br />
    <div id="scale-values-form" style="display: none;">
        <span><strong>{{ _('Object Dimensions') }}</strong></span><br /><br />
        <div id="scale-axis-form" class="row-fluid form-inline">
            <input type="text" class="span9 axis-input-box" id="scalex-axis" name="x-axis" onchange="BEEwb.transformOps.scale();"/>
            <label class="span3" for="scalex-axis">X (mm)</label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="scaley-axis" name="y-axis" onchange="BEEwb.transformOps.scale();"/>
            <label class="span3" for="scaley-axis">Y (mm)</label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="scalez-axis" name="z-axis" onchange="BEEwb.transformOps.scale();"/>
            <label class="span3" for="scalez-axis">Z (mm)</label>
            <br /><br />
            <span class="span2"></span>
            <button id="btn-scale-max" class="span8 btn btn-sm btn-default model-selection" onclick="BEEwb.transformOps.scaleToMax();" disabled="true">
                <i class="icon-crop" ></i>
                <span>{{ _('Scale to Max') }}</span>
            </button>
            <span class="span2"></span>
            <hr />
        </div>
    </div>
    <button id="btn-rotate" class="btn btn-default btn-block model-selection" onclick="BEEwb.transformOps.activateRotate();" disabled="true">
        <i class="icon-refresh" ></i>
        <span>{{ _('Rotate') }}</span>
    </button>
    <br />
    <div id="rotate-values-form" style="display: none;">
        <span><strong>{{ _('Object Rotation') }}</strong></span><br /><br />

        <div id="rotate-axis-form" class="row-fluid form-inline">
            <input type="text" class="span9 axis-input-box" id="rotx-axis" name="x-axis" value="0" onchange="BEEwb.transformOps.rotate();"/>
            <label class="span3" for="rotx-axis">X (deg°) </label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="roty-axis" name="y-axis" value="0" onchange="BEEwb.transformOps.rotate();"/>
            <label class="span3" for="roty-axis">Y (deg°) </label>
            <br /><br />

            <input type="text" class="span9 axis-input-box" id="rotz-axis" name="z-axis" value="0" onchange="BEEwb.transformOps.rotate();"/>
            <label class="span3" for="rotz-axis">Z (deg°) </label>
            <br /><br />
            <div class="row-fluid">
                 <span class="span2"></span>

                <label class="radio inline span3">
                    <input type="radio" id="rot-axis-selx" name="rot-axis-sel" value="x" > X</input>
                </label>
                <label class="radio inline span3">
                    <input type="radio" id="rot-axis-sely" name="rot-axis-sel" value="y" > Y</input>
                </label>
                <label class="radio inline span3">
                    <input type="radio" id="rot-axis-selz" name="rot-axis-sel" value="z" > Z</input>
                </label>

            </div>

            <div class="row-fluid">
                <button id="btn-rotate-ccw" class="span5 btn btn-sm btn-default model-selection" onclick="BEEwb.transformOps.rotateCCW();" disabled="true">
                    <i class="icon-rotate-left" ></i>
                    <span>{{ _('Rotate 90° Left') }}</span>
                </button>
                <span class="span2"></span>
                <button id="btn-rotate-cw" class="span5 btn btn-sm btn-default model-selection" onclick="BEEwb.transformOps.rotateCW();" disabled="true">
                    <i class="icon-rotate-right" ></i>
                    <span>{{ _('Rotate 90° Right') }}</span>
                </button>
            </div>
        </div>
        <hr />

    </div>
    <button class="btn btn-block model-selection" id="center_selection"
            data-bind="" disabled="true" onclick="BEEwb.transformOps.centerModel();">
        <i class="icon-bullseye" ></i>
        {{ _('Center model') }}
    </button>
    <br />
    <button class="btn btn-block model-selection" id="place_bed_selection"
            data-bind="" disabled="true" onclick="BEEwb.transformOps.placeOnBed();">
        <i class="icon-level-down" ></i>
        {{ _('Place on bed') }}
    </button>
    <br />
    <button class="btn btn-block model-selection" id="reset_selection"
            data-bind="" disabled="true" onclick="BEEwb.transformOps.resetSelectedModel();">
        <i class="icon-reply-all" ></i>
        {{ _('Reset model') }}
    </button>
    <br />
    <button class="btn btn-block btn-danger model-selection" id="delete_selection"
            data-bind="" disabled="true" onclick="BEEwb.transformOps.removeSelected();">
        <i class="icon-trash" ></i>
        {{ _('Delete') }}
    </button>
</div>
