<div id="aboutbee_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutbee_dialog_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="aboutbee_dialog_label">{{ _('About') }}</h3>
    </div>
    <div class="modal-body">
        <div id="aboutbee_body">
            <div class="full-sized-box">
                <h4><strong>{{ _('BEEsoft') }}</strong> &copy BEEVC - Electronic Systems</h4>
                <br/><br />
                <p><strong>{{ _('Software version:') }}</strong> <span class="version">{{ display_version|e }}</span></p>
                <br/><br />
                <p><strong>{{ _('Firmware version:') }}</strong> <span data-bind="text: currentFirmware"></span></p>
                <br/><br />
                <span>
                    <img src="{{ url_for('static', filename='img/octoprint.png') }}" width="40" />
                    {{ _('Powered by ') }} <a href="http://octoprint.org" target="_blank">Octoprint</a>
                </span>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span12">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>
