<div class="modal hide" id="loadingDialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h1>{{ _('Loading model...')}}</h1>
    </div>
    <div class="modal-body">

    </div>
</div>
