<div id="maintenance_dialog" class="modal hide fade large" tabindex="-1" role="dialog" aria-labelledby="maintenance_dialog_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="maintenance_dialog_label">{{ _('Maintenance') }}
            <i class="icon-spinner icon-spin" data-bind="visible: receiving"></i>
        </h3>
    </div>
    <div class="modal-body">
        <div class="full-sized-box">
            <div id="maintenance_warning_box" class="hidden text-center alert alert-warning">
                <i class="icon-warning-sign"></i>
                <span id="maintenance_warning_text">{{ _('Moving...please wait') }}</span>
            </div>

            <div class="tabbable row-fluid">
                <div id="maintenanceList" class="operationsList">
                    <div class="row-fluid">
                        <h3>{{ _('Filament change') }}</h3>
                        <span>{{ _('This operation is needed when you want to print with a differente color orwhen the filament available in the spool is not enough.')}}
                        </span>
                        <br /><br />
                        <a href="#maintenance_changeFilament" class="btn btn-primary" data-bind="click: showFilamentChange" >
                            {{ _('Change filament now') }}
                        </a>
                        <br /><br />
                    </div>

                    <div class="row-fluid">
                        <h3>{{ _('Calibrate') }}</h3>
                        <span>{{ _('This operation is needed to ensure the quality of your 3D prints.')}}
                        </span>
                        <br /><br />
                        <a href="#maintenance_calibration" class="btn btn-primary" data-bind="click: showCalibration" >
                            {{ _('Calibrate now') }}
                        </a>
                        <br /><br />
                    </div>

                    <div class="row-fluid">
                        <h3>{{ _('Extruder Maintenance') }}</h3>
                        <span>{{ _('This operation enables you to unclog the nozzle using the Maintenance Kit.')}}
                        </span>
                        <br /><br />
                        <a href="#maintenance_extruderMaintenance" class="btn btn-primary" data-bind="click: showExtruderMaintenance">
                            {{ _('Start extruder maintenance') }}
                        </a>
                        <br /><br />
                    </div>

                    <div class="row-fluid">
                        <h3>{{ _('Replace nozzle') }}</h3>
                        <span>{{ _('This operation is for replacing the extruder nozzle with a spare from your Maintenance Kit.')}}
                        </span>
                        <br /><br />
                        <a href="#maintenance_replaceNozzle" class="btn btn-primary" data-bind="click: showReplaceNozzle">
                            {{ _('Replace nozzle now') }}
                        </a>
                        <br /><br />
                    </div>
                </div>

                <div id="maintenance_dialog_content">
                    <div id="maintenance_changeFilament" class="hidden">
                        {% include 'dialogs/maintenance/change_filament.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_calibration" class="hidden">
                        {% include 'dialogs/maintenance/calibration.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_extruderMaintenance" class="hidden">
                        {% include 'dialogs/maintenance/extruder_maintenance.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_replaceNozzle" class="hidden">
                        {% include 'dialogs/maintenance/replace_nozzle.jinja2' ignore missing %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span2">
                <button id="cancelMaintenance" class="btn btn-block hidden" data-bind="click: cancelOperations">
                    <i class="icon-chevron-left"></i> {{ _('Cancel') }}
                </button>
            </div>
            <div class="span8"></div>
            <div class="span2">
                <button id="maintenanceCloseButton" class="btn btn-block" data-dismiss="modal" aria-hidden="true" data-bind="click: cancelOperations">
                    <i class="icon-remove"></i> {{ _('Close') }}
                </button>
                <button id="maintenanceOkButton" class="btn btn-block btn-primary pull-right hidden" data-dismiss="modal"
                        aria-hidden="true" data-bind="click: finishOperations">
                    <i class="icon-ok-sign"></i> {{ _('OK') }}
                </button>
            </div>

        </div>
    </div>
</div>
