<div id="maintenance_dialog" class="modal hide fade large" tabindex="-1" role="dialog" aria-labelledby="maintenance_dialog_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="maintenance_dialog_label">{{ _('Maintenance') }}
            <i class="icon-spinner icon-spin" data-bind="visible: receiving"></i>
        </h3>
    </div>
    <div class="modal-body">
        <div class="full-sized-box">
            <div class="tabbable row-fluid">

                <div id="maintenanceList" class="operationsList">
                    <div class="row-fluid">
                        <h3>{{ _('Filament change') }}</h3>
                        <span>{{ _('This operation is needed when you want to print with a differente color orwhen the filament available in the spool is not enough.')}}
                        </span>
                        <br /><br />
                        <a href="#maintenance_changeFilament" class="btn btn-primary" data-bind="click: showFilamentChange" >
                            {{ _('Change filament now') }}
                        </a>
                        <br /><br />
                    </div>

                    <div class="row-fluid">
                        <h3>{{ _('Calibrate') }}</h3>
                        <span>{{ _('This operation is needed to ensure the quality of your 3D prints.')}}
                        </span>
                        <br /><br />
                        <a href="#maintenance_calibration" class="btn btn-primary" onclick="showCalibration();">
                            {{ _('Calibrate now') }}
                        </a>
                        <br /><br />
                    </div>

                    <div class="row-fluid">
                        <h3>{{ _('Extruder Maintenance') }}</h3>
                        <span>{{ _('This operation enables you to unclog the nozzle using the Maintenance Kit.')}}
                        </span>
                        <br /><br />
                        <a href="#maintenance_extruderMaintenance" class="btn btn-primary" onclick="showExtruderMaintenance();">
                            {{ _('Start extruder maintenance') }}
                        </a>
                        <br /><br />
                    </div>

                    <div class="row-fluid">
                        <h3>{{ _('Replace nozzle') }}</h3>
                        <span>{{ _('This operation is for replacing the extruder nozzle with a spare from your Maintenance Kit.')}}
                        </span>
                        <br /><br />
                        <a href="#maintenance_replaceNozzle" class="btn btn-primary" onclick="showReplaceNozzle();">
                            {{ _('Replace nozzle now') }}
                        </a>
                        <br /><br />
                    </div>
                </div>

                <div id="maintenance_dialog_content">
                    <div id="maintenance_changeFilament" class="hidden">
                        {% include 'dialogs/maintenance/change_filament.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_calibration" class="hidden">
                        {% include 'dialogs/maintenance/calibration.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_extruderMaintenance" class="hidden">
                        {% include 'dialogs/maintenance/extruder_maintenance.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_replaceNozzle" class="hidden">
                        {% include 'dialogs/maintenance/replace_nozzle.jinja2' ignore missing %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span2">
                <button id="cancelMaintenance" class="btn btn-block hidden" onclick="cancelOperation();">{{ _('Cancel') }}</button>
            </div>
            <div class="span8"></div>
            <div class="span2">
                <button class="btn btn-block" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>
<script>

    function showCalibration() {
        $('#maintenanceList').addClass('hidden');
        $('#cancelMaintenance').removeClass('hidden');

        $('#maintenance_calibration').removeClass('hidden');
    }

    function showExtruderMaintenance() {
        $('#maintenanceList').addClass('hidden');
        $('#cancelMaintenance').removeClass('hidden');

        $('#maintenance_extruderMaintenance').removeClass('hidden');
    }

    function showReplaceNozzle() {
        $('#maintenanceList').addClass('hidden');
        $('#cancelMaintenance').removeClass('hidden');

        $('#maintenance_replaceNozzle').removeClass('hidden');
    }

    function cancelOperation() {
        $('#maintenanceList').removeClass('hidden');
        $('#cancelMaintenance').addClass('hidden');

        $('#maintenance_changeFilament').addClass('hidden');
        $('#maintenance_calibration').addClass('hidden');
        $('#maintenance_extruderMaintenance').addClass('hidden');
        $('#maintenance_replaceNozzle').addClass('hidden');
    }

</script>
