<a id="navbar_show_settings" class="pull-right" href="#settings_dialog" title="{{ _('Settings') }}" data-bind="click: function() { $root.show(); }">
     <span class="m-icon settingsicon-xs"></span> {{ _('Settings') }}
</a>
