<h3>{{ _('Hello!') }}</h3>

{% trans %}
    Thank you for installing BEEsoft! This wizard will lead you through the
    final steps to get your BEEsoft instance all setup and ready to go. We'll
    get you printing in no time!
{% endtrans %}
